.ui-seo {
	--ui-seo-title-color: #1a0dab;

	[data-theme='dark'] & {
		--ui-seo-title-color: #8ab4f8;
	}

	&.-gray {
		.ui-seo-card {
			border-radius: var(--border-radius);
			background: var(--gray-200);
			padding: 15px;
		}
	}

	.ui-seo-label {
		font-size: 13px;
		margin-bottom: 15px;
		display: block;
		opacity: 0.5;
	}

	.ui-seo-title {
		color: var(--ui-seo-title-color);
		font-size: 16px;
		font-weight: var(--font-weight-bold);
	}

	.ui-seo-domain {
		color: var(--success);
		display: block;
	}

	.ui-seo-description {
		display: block;
		margin-top: 5px;
	}
}
