@import '../../../scss/mixins.scss';

.ui-dropdown {
	position: relative;
	z-index: var(--s-index-medium);

	.ui-dropdown-button {
		position: relative;
		user-select: none;
		display: flex;
		align-items: center;
		white-space: nowrap;

		&:focus {
			outline: none;
		}
	}

	&.-open {
		outline: none;
		z-index: var(--s-index-very-high);

		> .ui-dropdown-menu {
			display: block;
		}
	}

	&.-right {
		.ui-dropdown-menu {
			transform: translateX(0);
		}
	}

	.ui-dropdown-divider {
		border-top: var(--s-border-light);
		margin: 10px -10px;
	}

	.ui-dropdown-item-wrapper {
		&:first-child {
			margin-top: var(--s-spacing-nano);
		}

		&:last-child {
			margin-bottom: var(--s-spacing-nano);
		}
	}

	.ui-dropdown-menu {
		min-width: 100%;
		margin-top: var(--s-spacing-quark);
		border: var(--s-border-light);
		border-radius: var(--s-border-radius-small);
		box-shadow: var(--s-shadow-level-1);
		background: var(--s-color-fill-default);
		display: none;
		position: absolute;
		min-width: 220px;
		left: 0;
		overflow: hidden;
		overflow-y: auto;

		input {
			border: none;
		}

		a.ui-dropdown-item {
			&:hover {
				text-decoration: none;
			}
		}

		.ui-dropdown-item {
			display: inline-flex;
			align-items: center;
			position: relative;
			font: var(--s-typography-label-medium);
			background: none;
			border-radius: var(--s-border-radius-small);
			padding: var(--s-border-radius-medium) var(--s-border-radius-large);
			border: 0;
			white-space: nowrap;

			&.-button {
				width: 100%;
				cursor: pointer;

				> .ui-icon.leading-icon {
					position: absolute;
					background-color: var(--s-color-fill-default);
					padding: var(--s-spacing-quark);
					border-radius: var(--s-border-radius-small);
					right: 20px;
				}
			}

			> .ui-icon + span {
				margin-left: var(--s-spacing-nano);
			}

			&:hover,
			&:focus {
				background: none;
				color: var(--s-color-fill-highlight);
			}

			&:focus {
				outline: none;
			}

			&.-active {
				background: rgba(9, 9, 9, 0.2);
			}

			&.-danger {
				color: var(--s-color-fill-critical);

				&:hover {
					color: var(--s-color-fill-default);
					background: var(--s-color-fill-critical);
				}
			}
		}
	}

	.ui-dropdown-section {
		padding: var(--s-spacing-x-small);

		+ .ui-dropdown-section {
			border-top: solid 1px darken(#2e3338, 5%);
		}
	}

	@include darkmode {
		.ui-dropdown-menu {
			background-color: var(--s-color-fill-dark);
			border-color: var(--s-color-border-dark);
		}

		.ui-dropdown-item {
			&:hover {
				background-color: var(--s-color-fill-dark-hover);
			}
		}
	}
}
