@import '../../../scss/mixins.scss';

.ui-dropdown {
	--dropdown-secton-padding: 20px;

	position: relative;
	z-index: 111;

	.ui-dropdown-button {
		position: relative;
		user-select: none;
		display: flex;
		align-items: center;
		white-space: nowrap;

		&:focus {
			outline: none;
		}
	}

	&.-open {
		outline: none;
		z-index: 333;

		> .ui-dropdown-menu {
			display: block;
		}
	}

	&.-right {
		.ui-dropdown-menu {
			left: auto;
			right: 0;
			transform: translateX(0);
		}
	}

	.ui-dropdown-divider {
		border-top: solid 1px darken(#2e3338, 5%);
		border-bottom: solid 1px rgba(255, 255, 255, 0);
		margin: 10px -10px;
	}

	.ui-dropdown-item-wrapper {
		&:first-child {
			margin-top: 10px;
		}

		&:last-child {
			margin-bottom: 10px;
		}
	}

	.ui-dropdown-menu {
		min-width: 100%;
		margin-top: 5px;
		border: none;
		border-radius: 6px;
		background: #2e3338;
		color: #fff;
		display: none;
		position: absolute;
		min-width: 220px;
		left: 0;
		overflow: hidden;
		overflow-y: auto;

		input {
			border: none;
		}

		a.ui-dropdown-item {
			&:hover {
				text-decoration: none;
			}
		}

		.ui-dropdown-item {
			font-weight: 500;
			color: #f1f1f1;
			display: inline-flex;
			align-items: center;
			border-radius: 4px;
			background: none;
			border: 0;
			white-space: nowrap;
			padding: 8px 20px;
			position: relative;

			&.-button {
				width: 100%;
				cursor: pointer;

				> .ui-icon {
					position: absolute;
					background-color: #ffffff;
					color: var(--primary);
					padding: 4px;
					border-radius: 4px;
					right: 20px;
				}
			}

			> .ui-icon {
				font-size: 20px;
			}

			> .ui-icon + span {
				margin-left: 10px;
			}

			&:hover,
			&:focus {
				background: none;
				color: var(--primary);
			}

			&:focus {
				outline: none;
			}

			&.-active {
				background: rgba(0, 0, 0, 0.2);
			}

			&.-danger {
				color: var(--danger);

				&:hover {
					color: #fff;
					background: var(--danger);
				}
			}
		}
	}

	.ui-dropdown-section {
		padding: var(--dropdown-secton-padding);

		+ .ui-dropdown-section {
			border-top: solid 1px darken(#2e3338, 5%);
		}
	}

	@include darkmode {
		.ui-dropdown-menu {
			background-color: var(--dark-300);
		}
	}
}
