.ui-page-helper {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 10px 15px;
	margin-bottom: var(--grid-gutter-width);
	border: solid 1px var(--border-color);
	border-radius: var(--border-radius);
	background-color: var(--bg-white);

	> .ui-icon {
		margin-right: 10px;
		color: var(--primary);
	}

	.ui-page-helper-name:hover {
		cursor: pointer;
		color: var(--primary);
	}
}
