.ui-page-helper {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 10px 15px;
	margin-bottom: var(--grid-gutter-width);
	border: solid 1px var(--border-color);
	background-color: #fff;
	border-radius: 6px;

	> .ui-icon {
		margin-right: 10px;
		color: var(--primary);
	}
}
