@import '../../../../src/scss/mixins.scss';
.ui-form-tags {
	--choice-item-height: var(--s-spacing-large);
	color: var(--s-color-content-default);

	&:not(.-has-value) {
		.choices__inner {
			padding-left: var(--s-spacing-xx-small);
		}
	}

	.ui-form-tags-content {
		display: flex;
		gap: var(--s-spacing-nano);
		.choices {
			flex-grow: 1;
		}

		.ui-form-tags-actions {
			margin-left: auto;
			flex-grow: 0;
		}
	}

	.choices {
		margin: 0;

		.choices__inner {
			&:hover {
				border-color: var(--s-color-border-highlight);
			}
		}

		&.is-open {
			z-index: var(--s-spacing-nano);
			.choices__inner {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}
		}

		&.is-focused .choices__inner {
			border: 1px solid var(--s-color-border-highlight);
		}

		.choices__list {
			display: flex;
			align-items: center;
			border-color: var(--s-color-border-default);

			&.choices__list--dropdown {
				border-color: var(--s-color-background-highlight);
			}
		}

		.choices__item.choices__item--choice.choices__item--selectable.is-highlighted {
			font: var(--s-typography-paragraph-regular);
			background-color: var(--s-color-fill-default);

			&:hover {
				background-color: var(--s-color-fill-default-hover);
			}
		}

		&.is-disabled {
			.choices__inner {
				background-color: var(--s-color-fill-disable);
				border-color: var(--s-color-border-default);
			}
		}
	}

	.choices__inner {
		display: flex;
		align-items: center;
		background-color: var(--s-color-fill-default);
		min-height: var(--s-spacing-large);
		border: var(--s-border-light);
		padding: 0 var(--s-spacing-xx-small);
		border-radius: var(--s-border-radius-small);

		.choices__input {
			margin: 0;
			color: var(--s-color-content-default);
			background-color: transparent;
			height: var(--s-spacing-small);
		}

		.choices__item {
			margin: 0 var(--s-spacing-nano) 0 0;
			border-radius: var(--s-border-radius-small);
			background-color: var(--s-color-background-highlight) !important;
			text-shadow: none;
			box-shadow: none !important;
			display: inline-flex;
			font: var(--s-typography-caption-small);
			border: none;
			height: var(--s-spacing-small);
			line-height: var(--s-line-height-16);

			.choices__button {
				font-weight: var(--s-font-weight-regular);
				border-left: none;
				margin-left: 0 !important;
			}
		}
	}

	
}
