@import '../../../../src/scss/mixins.scss';

.ui-form-tags {
	--choice-item-height: var(--input-height);
	margin-bottom: var(--form-group-margin-bottom);

	&.-has-value {
	}

	.ui-form-tags-content {
		display: flex;
		gap: 8px;
		.choices {
			flex-grow: 1;
		}

		.ui-form-tags-actions {
			margin-left: auto;
			flex-grow: 0;
		}
	}

	.choices {
		margin: 0;

		&.is-open {
			z-index: 555;
			.choices__inner {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}
		}

		.choices__list {
			background-color: var(--bg-white);
			border-color: var(--input-bg-color) !important;
		}
	}

	.choices__inner {
		min-height: var(--input-height);
		background-color: var(--input-bg-color);
		border: solid var(--input-border-width) var(--input-border-color);
		border-radius: var(--input-border-radius);
		padding: 7px;
		padding-bottom: 0;

		.choices__input {
			color: var(--body-color);
			background-color: var(--input-bg-color);
			height: 22px;
		}

		.choices__item {
			border-radius: 5px;
			background: var(--primary) !important;
			text-shadow: none;
			box-shadow: none !important;
			display: inline-flex;
			align-items: center;
			font-size: 12px;
			border: none;
			height: 22px;
			line-height: 1;

			.choices__button {
				font-weight: 400;
				border-left: none;
				margin-left: 0 !important;
			}
		}
	}

	.choices__input--cloned {
		// margin-bottom: 0;
	}

	@include mobile {
	}

	@include darkmode {
	}
}
