$primitive-borders: (
	radius: (
		0: 0,
		2px: 2px,
		4px: 4px,
		8px: 8px,
		16px: 16px,
		24px: 24px,
		32px: 32px,
		50%: 50%
	),
	width: (
		0: 0,
		1px: 1px,
		2px: 2px,
		4px: 4px,
		8px: 8px
	)
);
