$primitives-color: (
	white: #ffffff,
	black: #000000,
	pink: (
		100: #fce8f5,
		200: #f8d1eb,
		300: #f1a3d7,
		400: #e868be,
		500: #e346af,
		600: #dc189b,
		700: #b0137c,
		800: #840e5d,
		900: #580a3e,
		1000: #2c051f
	),
	teal: (
		100: #e6f3f4,
		200: #cce6e8,
		300: #99cdd1,
		400: #4ca3a9,
		500: #339ca3,
		600: #00838c,
		700: #006970,
		800: #004f54,
		900: #003438,
		1000: #001a1c
	),
	neutral: (
		100: #f5f7fa,
		200: #e0e8f2,
		300: #c2cfde,
		400: #a4b6ce,
		500: #859ebd,
		600: #446285,
		700: #364e6a,
		800: #293b50,
		900: #1b2735,
		1000: #0e141b
	),
	blue: (
		100: #e8f3fe,
		200: #d2e7fd,
		300: #a4d0fa,
		400: #77b8f8,
		500: #3d9cf5,
		600: #1c89f3,
		700: #166ec2,
		800: #115292,
		900: #0b3761,
		1000: #061b31
	),
	green: (
		100: #e7f3ef,
		200: #cfe7de,
		300: #9fcfbe,
		400: #7ebea7,
		500: #409f7d,
		600: #10875c,
		700: #0d6c4a,
		800: #0a5137,
		900: #063625,
		1000: #031b12
	),
	orange: (
		100: #fbf1e6,
		200: #f7e4cd,
		300: #f0c99b,
		400: #e8ad6a,
		500: #e19238,
		600: #d97706,
		700: #ae5f05,
		800: #824704,
		900: #573002,
		1000: #2b1801
	),
	red: (
		100: #fbecec,
		200: #f7d9d9,
		300: #efb2b2,
		400: #ea9f9f,
		500: #de6565,
		600: #d63f3f,
		700: #ab3232,
		800: #802626,
		900: #561919,
		1000: #2b0d0d
	),
	purple: (
		100: #f6eafd,
		200: #eed6fa,
		300: #ddadf6,
		400: #cb83f1,
		500: #ba5aed,
		600: #a931e8,
		700: #8727ba,
		800: #651d8b,
		900: #44145d,
		1000: #220a2e
	)
);
