$primitives-color: (
  white: #fff,
  pink: (
    100: #FCE8F5,
    200: #F8D1EB,
    300: #F1A3D7,
    400: #E868BE,
    500: #E346AF,
    600: #DC189B,
    700: #B0137C,
    800: #840E5D,
    900: #580A3E,
    1000: #2C051F
  ),
  teal: (
    100: #E6F3F4,
    200: #CCE6E8,
    300: #99CDD1,
    400: #4CA3A9,
    500: #339CA3,
    600: #00838C,
    700: #006970,
    800: #004F54,
    900: #003438,
    1000: #001A1C,
  ),
  neutral:(
    100: #F5F7FA,
    200: #E0E8F2,
    300: #C2CFDE,
    400: #A4B6CE,
    500: #859EBD,
    600: #446285,
    700: #364E6A,
    800: #293B50,
    900: #1B2735,
    1000: #0E141B
  ),
  blue:(
    100: #E8F3FE,
    200: #D2E7FD,
    300: #A4D0FA,
    400: #77B8F8,
    500: #3D9CF5,
    600: #1C89F3,
    700: #166EC2,
    800: #115292,
    900: #0B3761,
    1000: #061B31
  ),
  green: (
    100: #E7F3EF,
    200: #CFE7DE,
    300: #9FCFBE,
    400: #7EBEA7,
    500: #409F7D,
    600: #10875C,
    700: #0D6C4A,
    800: #0A5137,
    900: #063625,
    1000: #031B12
  ),
  orange: (
    100: #FBF1E6,
    200: #F7E4CD,
    300: #F0C99B,
    400: #E8AD6A,
    500: #E19238,
    600: #D97706,
    700: #AE5F05,
    800: #824704,
    900: #573002,
    1000: #2B1801
  ),
  red: (
    100: #FBECEC,
    200: #F7D9D9,
    300: #EFB2B2,
    400: #EA9F9F,
    500: #DE6565,
    600: #D63F3F,
    700: #AB3232,
    800: #802626,
    900: #561919,
    1000: #2B0D0D
  ),
  purple: (
    100: #F6EAFD,
    200: #EED6FA,
    300: #DDADF6,
    400: #CB83F1,
    500: #BA5AED,
    600: #A931E8,
    700: #8727BA,
    800: #651D8B,
    900: #44145D,
    1000: #220A2E
  )
);
