
  $primitives-dimension-0px: 0px;
  $primitives-dimension-2px: 2px;
  $primitives-dimension-4px: 4px;
  $primitives-dimension-8px: 8px;
  $primitives-dimension-12px: 12px;
  $primitives-dimension-16px: 16px;
  $primitives-dimension-24px: 24px;
  $primitives-dimension-32px: 32px;
  $primitives-dimension-40px: 40px;
  $primitives-dimension-48px: 48px;
  $primitives-dimension-56px: 56px;
  $primitives-dimension-64px: 64px;
