
  $primitives-spacing-0px: 0px;
  $primitives-spacing-2px: 2px;
  $primitives-spacing-4px: 4px;
  $primitives-spacing-8px: 8px;
  $primitives-spacing-12px: 12px;
  $primitives-spacing-16px: 16px;
  $primitives-spacing-24px: 24px;
  $primitives-spacing-32px: 32px;
  $primitives-spacing-40px: 40px;
  $primitives-spacing-48px: 48px;
  $primitives-spacing-56px: 56px;
  $primitives-spacing-64px: 64px;
