$primitive-spacing-0px: 0px;
$primitive-spacing-2px: 2px;
$primitive-spacing-4px: 4px;
$primitive-spacing-8px: 8px;
$primitive-spacing-12px: 12px;
$primitive-spacing-16px: 16px;
$primitive-spacing-24px: 24px;
$primitive-spacing-32px: 32px;
$primitive-spacing-40px: 40px;
$primitive-spacing-48px: 48px;
$primitive-spacing-56px: 56px;
$primitive-spacing-64px: 64px;
