$primitive-typographies: (
	font-family-system: (
		apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol'
	),

	font-size-base: 0.875rem,

	font-weight: (
		thin: 100,
		light: 300,
		regular: 400,
		medium: 500,
		semibold: 600,
		bold: 700
	),

	line-height: (
		12: 0.75rem,
		16: 1rem,
		20: 1.25rem,
		24: 1.5rem,
		32: 2rem,
		40: 2.5rem,
		48: 3rem
	)
);
