$primitive-index-1: 1;
$primitive-index-2: 2;
$primitive-index-3: 3;
$primitive-index-4: 4;
$primitive-index-5: 5;
$primitive-index-6: 6;
$primitive-index-7: 7;
$primitive-index-8: 8;
$primitive-index-9: 9;
