@import '../../../scss/mixins.scss';

.ui-breadcrumb {
	background: none;
	padding: 0;
	display: inline-flex;
	align-items: center;
	text-transform: lowercase;
	margin: 0;
	font-weight: 400;

	@include desktop {
		font-weight: 600;
	}

	> .-icon {
		color: var(--secondary);
	}
}
