@import '../../../scss/mixins.scss';

.ui-breadcrumb {
	> .ui-breadcrumb-item {
		display: flex;
		align-items: center;

		&:before {
			position: relative;
			z-index: var(--z-800);
			float: none;
		}

		> a {
			font-weight: inherit;
			position: relative;
			z-index: var(--z-100);
			display: inline-flex;
			align-items: center;
			height: 38px;
			text-decoration: none;
			color: var(--text-default);

			&:hover {
				text-decoration: none;
				color: var(--primary);
				span {
					text-decoration: underline;
				}
			}
		}

		+ .ui-breadcrumb-item {
			padding-left: 5px;
		}
		+ .ui-breadcrumb-item::before {
			padding-right: var(--spacing-xxxs);
			color: var(--secondary);
			content: '/';
			font-weight: 600;
			margin: 0 var(--spacing-xxxs);

			@include mobile {
				font-weight: 400;
			}
		}

		> .ui-breadcrumb-item::before {
			margin: 0 var(--spacing-xlg);
		}
	}
}
