.ui-breadcrumb {
	> .ui-breadcrumb-item {
		display: flex;
		align-items: center;

		&:before {
			position: relative;
			z-index: var(--s-index-max);
			float: none;
		}

		> a {
			font-weight: inherit;
			position: relative;
			z-index: var(--s-index-very-high);
			display: inline-flex;
			align-items: center;
			height: 38px;
			text-decoration: none;
			color: var(--s-color-content-default);

			&:hover {
				text-decoration: none;
				color: var(--s-color-fill-highlight);
				span {
					text-decoration: underline;
				}
			}
		}

		+ .ui-breadcrumb-item {
			padding-left: var(--s-spacing-quark);
		}
		+ .ui-breadcrumb-item::before {
			padding-right: var(--s-spacing-quark);
			color: var(--secondary);
			content: '/';
			margin: 0 var(--s-spacing-quark);
		}

		> .ui-breadcrumb-item::before {
			margin: 0 var (--s-spacing-x-large);
		}
	}
}
