# Dependencies
node_modules
.pnp
.pnp.*
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build Outputs
.next
.nuxt
out
build
dist
dist-ssr

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Misc
.DS_Store
*.pem

# Cache
.eslintcache
.stylelintcache

# Testing
coverage
cypress
vitest.config.ts.timestamp-*.mjs
*.local


# Project specific
src/scss/tokens/stories/tokens.css
public/design-tokens.source.json
