{
	"trailingComma": "none",
	"tabWidth": 2,
	"semi": false,
	"singleQuote": true,
	"printWidth": 120,
	"jsxBracketSameLine": true,
	"proseWrap": "preserve",
	"arrowParens": "always",
	"htmlWhitespaceSensitivity": "css",
	"endOfLine": "auto",
	"useTabs": true,
	"bracketSpacing": true,
	"overrides": []
}
