@import "../../../scss/mixins.scss";

.card-info-group {
  position: relative;

  .card-info-group-wrapper {
    display: flex;
    margin: -5px;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &.card-info-group-wrap3 {
    .card-info-item {
      width: 33.33%;
    }
  }

  &.card-info-group-wrap4 {
    .card-info-item {
      width: 25%;
    }
  }

  .card-info-item {
    padding: 5px;
    height: 100%;
  }

  @include darkmode {
    .card-info-content {
      background: var(--dark-100);
    }
  }
}

.card-info-item {
  flex-grow: 1;

  @include mobile {
    flex: 0 0 50%;
  }
}

.card-info-content {
  background: var(--gray-200);
  text-align: center;
  padding: 25px 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  .card-info-value {
    font-size: 16px;
    padding-top: 5px;
    display: block;
  }

  .card-info-export {
    position: absolute;
    bottom: 5px;
    right: 5px;
  }

  .card-info-text {
    text-transform: uppercase;
    font-size: 12px;

    .icon {
      font-size: 19px;
      opacity: 0.5;
      position: absolute;
      transform: translate(5px, -2px);
    }
  }

  .card-info-perc {
    display: flex;
    align-items: center;
    line-height: 1;
    padding-top: 5px;

    .icon {
      font-size: 16px;
      font-weight: 600;
      display: none;
      margin-right: 2px;
      color: var(--danger);
    }

    .icon:first-of-type {
      display: inline-flex;
    }

    &.positive {
      .icon:last-of-type {
        display: inline-flex;
        color: var(--success);
      }

      .icon:first-of-type {
        display: none;
      }
    }
  }

  .card-info-extra {
    font-size: 14px;
    margin-top: 10px;
  }
}
