@import '../../../scss/mixins.scss';
@import '../../../scss/animations/fade-in-out.scss';

.user-card-btn {
  &-wrapper {
    display: flex;
    gap: var(--s-spacing-nano);
    align-items: center;
    position: relative;
    cursor: pointer;
    padding: var(--s-spacing-nano);
    width: 100%;
    border-radius: var(--s-border-radius-small);

    @include mobile {
      padding: unset;
    }
  }

  &-avatar {
    width: var(--input-height);
    height: var(--input-height);
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    overflow: hidden;
    border: solid 2px var(--s-color-border-highlight);
    display: inline-flex;
    font-weight: 600;
    text-align: center;
    color: var(--s-color-content-light);
    text-transform: uppercase;
    position: relative;
    flex-shrink: 0;

    img {
      max-width: 100%;
      border-radius: var(--s-border-radius-pill);
    }
  }

  &-text {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    line-height: var(--s-line-height-20);
    text-align: left;
    max-width: 100%;

    .name {
      display: block;
      font-weight: bold;
      text-wrap: wrap;
    }

    &-info {
      width: 100%;
    }

    &-caption {
      text-overflow: ellipsis;
      max-width: 120px;
      overflow: hidden;
      display: block;
    }
  }

  @include darkmode {
    .user-card-btn-avatar {
      background-color: var(--s-color-fill-dark);
      color: var(--s-color-content-dark);
    }

    .user-card-btn .user-card-btn-avatar::after {
      border-color: var(--s-color-content-dark);
    }
  }
}
