@import '../../../scss/mixins.scss';
@import '../../../scss/animations/fade-in-out.scss';

.user-card {
	margin: 10px;

	&-label {
		font: var(--s-typography-label-medium);
		text-transform: uppercase;
		color: var(--s-color-content-light);
		opacity: 0.9;
		padding-left: var(--s-spacing-x-small);
	}

	.ui-dropdown {
		.ui-dropdown-menu {
			@include fade-in-out(var(--s-motion-duration-default));
			opacity: 0;
			display: none;
			padding: var(--s-spacing-xx-small) var(--s-spacing-nano) var(--s-spacing-xx-small) var(--s-spacing-nano);
		}
		&.-open {
			.icon-arrow-up {
				transform: rotate(180deg);
			}
			.ui-dropdown-menu {
				opacity: 1;
				display: block;
			}
		}
		.ui-dropdown-item {
			width: 100%;
			&:hover,
			&:focus {
				background-color: var(--s-color-fill-default-hover);
			}
		}
	}

	&-btn {
		transition: background-color var(--s-motion-duration-default) ease-in;
		&:hover {
			background-color: var(--s-color-fill-default-hover);
		}
	}

	@include darkmode {
		.dropdown-item {
			&-caption {
				color: var(--s-color-content-dark);
			}
			.ui-dropdown-item {
				color: var(--s-color-content-dark);

				&:hover {
					background-color: var(--s-color-fill-dark-hover);
					color: var(--s-color-content-dark);
				}
			}
		}
		.user-card {
			&-btn {
				&:hover,
				&:active {
					background: var(--dark-100);
				}
			}
			&-label {
				color: var(--s-color-content-dark);
			}
		}
	}
}
