@import '../../../scss/mixins.scss';

.ui-savebar {
	position: fixed;
	top: 0;
	right: 0;
	z-index: var(--s-index-medium-high);
	height: var(--layout-navbar-height);
	align-items: center;
	display: flex;
	opacity: 0;
	pointer-events: none;
	background-color: var(--body-bg);
	box-shadow:
		1px 1px 2px 1px rgba(0, 0, 0, 0.02),
		2px 2px 4px rgba(0, 0, 0, 0.05);

	* {
		z-index: var(--s-index-low);
	}

	&-container {
		display: flex;
		gap: 8px;
		width: 100%;
		padding: 0 var(--layout-content-padding-x);
		justify-content: space-between;
	}

	&::after {
		content: '';
		border-radius: 50px;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: var(--s-index-default);
	}

	&.-show {
		opacity: 1;
		pointer-events: auto;
	}

	&-text {
		display: flex;
		align-items: center;
		font-size: 14px;
		font-weight: var(--font-weight-semibold);
	}

	&-actions {
		display: flex;
		gap: inherit;
	}

	@include mobile {
		left: 0;
		height: 84px;

		&-container {
			flex-wrap: wrap;
			justify-content: center;
		}

		&-actions {
			width: 100%;
		}

		.ui-button.-success {
			flex-basis: 50%;
		}
		&-restore {
			flex-basis: 50%;
		}
	}

	@include desktop {
		left: var(--layout-sidebar-width);
	}

	@include darkmode {
		background-color: var(--dark-300);
	}
}
