@import '../../../scss/mixins.scss';

.ui-savebar {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 888;
	height: var(--layout-navbar-height);
	align-items: center;
	display: flex;
	opacity: 0;
	pointer-events: none;
	// transition: opacity 0.2s;
	background-color: var(--body-bg);
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.02), 2px 2px 4px rgba(0, 0, 0, 0.05);

	@include mobile {
		left: 0;
	}

	@include desktop {
		left: var(--layout-sidebar-width);
	}

	* {
		z-index: 2;
	}

	&::after {
		content: '';
		border-radius: 50px;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 1;
	}

	&.-show {
		opacity: 1;
		pointer-events: auto;
	}

	.ui-savebar-text {
		display: flex;
		align-items: center;
		font-size: 14px;
		font-weight: var(--font-weight-semibold);

		a {
			color: var(--primary);
		}
	}

	.ui-savebar-container {
		display: flex;
		gap: 8px;
		width: 100%;
		padding: 0 var(--layout-content-padding-x);
		justify-content: space-between;
	}

	.ui-savebar-actions {
		display: flex;
		gap: inherit;
	}

	@include mobile {
		height: 69px;
		.ui-button.-success {
			min-width: 140px;
		}
	}

	@include darkmode {
		background-color: var(--dark-300);
	}
}
