@import '../../../scss/mixins.scss';

:root {
	--main-padding-x: 40px;

	@include mobile() {
		--main-padding-x: 10px;
	}
}

.ui-layout {
	overflow-y: auto;
	flex-grow: 1;
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: var(--sidebar-width) 1fr;
	grid-template-rows: 0.2fr 1.8fr;
	gap: 0px 0px;
	grid-template-areas:
		'ui-layout-sidebar ui-layout-navbar'
		'ui-layout-sidebar ui-layout-content';
}
.ui-layout-navbar {
	grid-area: ui-layout-navbar;
	position: sticky;
	top: 0;
	z-index: 333;
}
.ui-layout-content {
	grid-area: ui-layout-content;
	display: flex;
}
.ui-layout-sidebar {
	grid-area: ui-layout-sidebar;
}

.ui-layout-content-page {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 var(--layout-content-padding-x);
	flex: 1;
}

// .ui-layout {
// 	max-width: 100vw;
// 	width: 100vw;
// 	align-items: flex-start;
// 	display: flex;
// 	overflow-y: auto;

// 	> .ui-layout-main {
// 		flex-grow: 1;
// 		padding: 0 var(--main-padding-x);
// 		padding-bottom: 20px;
// 		min-height: 100%;
// 		display: flex;
// 		flex-direction: column;

// 		> .ui-layout-navbar {
// 			position: sticky;
// 			top: 0;
// 			z-index: 333;
// 			margin: 0 calc(var(--main-padding-x) * -1);
// 		}

// 		> .ui-layout-content {
// 			max-width: 1200px;
// 			margin: 0 auto;
// 			flex-grow: 1;
// 			width: 100%;

// 			> .slide-fade-enter-active {
// 				transition: all 0.2s ease;
// 			}
// 			> .slide-fade-leave-active {
// 				transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
// 			}
// 			> .slide-fade-enter,
// 			> .slide-fade-leave-to {
// 				opacity: 0;
// 			}
// 		}
// 	}
// }
