@import '../../../scss/mixins.scss';

.table-list {
	--td-padding: 15px;

	display: flex;
	flex-direction: column;
	flex-grow: 1;
	position: relative;
	border-collapse: collapse;
	background: white;
	border-radius: 6px;
	border: solid 1px var(--border-color);
	box-shadow: 0 0 18px rgb(23 24 24 / 5%), 0 0 1px rgb(0 0 0 / 15%);

	table {
		transform: rotateZ(0);
		margin-bottom: 0;
		background-color: #fff;

		.td-checkbox {
			width: 30px;
			text-align: right;
			cursor: pointer;
		}

		th {
			padding: 10px var(--td-padding);
			text-transform: uppercase;
			font-size: 12px;
			border: none;
			border-top: none;
			border-bottom: solid 1px var(--border-color);
			user-select: none;
			vertical-align: middle;
		}

		td {
			border-left: none;
			padding: 9px var(--td-padding);

			.ui-icon {
				line-height: 1.3;
			}

			&.-date {
				font-size: 12px;
				white-space: nowrap;
				width: 10px;
			}

			&.-code {
				font-weight: normal;
			}

			a {
				color: var(--body-color);
				font-weight: var(--font-weight-semi);
			}
		}

		tbody {
			tr {
				transition: all 0.15s;

				&:hover {
					background-color: var(--gray-100);
					cursor: pointer;
					.hover {
						opacity: 1;
					}
				}

				&.-selected {
					background: rgba(var(--primary-rgb), 0.1);

					td {
						border-bottom-color: var(--primary);
					}
				}

				&.-inactive {
					.aspect-ratio-square {
						border-color: var(--danger);
					}

					.badge {
						background: var(--danger);
						color: #fff;
					}
				}

				.hover-content {
					opacity: 0;
				}
			}
		}
	}

	.table-search {
		flex-grow: 1;
		display: flex;
		max-width: 300px;

		form {
			flex-grow: 1;
		}
	}

	.table-list-wrapper {
		margin-bottom: 15px;
		position: relative;
		overflow-x: auto;
		flex-grow: 1;
		min-height: 100px;

		&.-scroll {
			.td-fixed {
				background: #fff;
				box-shadow: inset -1px 0 0 var(--gray-100);
			}
		}

		.td-fixed {
			// position: sticky;
			left: 0;
			z-index: 22;

			+ .td-fixed {
				left: 53px;
			}
		}
	}

	.table-list-nav-item {
		padding: 0;

		&.-checkbox {
			width: auto;
			padding-left: 0;
		}

		&.-danger {
			&:hover {
				background-color: var(--danger);
				color: #fff;
			}
		}

		&:focus {
			outline: none;
		}

		&[disabled] {
			background: var(--gray-100);
			color: var(--text-muted);
			cursor: not-allowed;
			box-shadow: none;
			opacity: 0.5;
		}
	}

	@include darkmode {
		.table-search-input {
			background: none;
		}

		table,
		.table-list-wrapper,
		.table-list-nav-content {
			background: var(--dark-200);
		}

		.table tr td {
			border-color: var(--dark-300);
		}

		.table-list-nav-btn {
			background: inherit;
		}

		.table-list-wrapper.-scroll .td-fixed {
			background: var(--dark-200);
		}
	}
}
