.ui-alert {
	text-align: left;
	position: relative;
	font-size: 12px;
	padding: 15px;
	border-radius: var(--alert-border-radius);
	background-color: var(--gray-200);
	border: solid 1px transparent;
	margin-bottom: var(--grid-gutter-width);
	display: flex;
	align-items: center;

	&:last-child {
		margin-bottom: 0;
	}

	&.-dismissible {
		padding-right: 50px;
	}

	&.-center {
		text-align: center;
	}

	&.-success {
		background-color: #e2f3eb;
		border-color: #79c8a2;
		color: #000;

		.ui-icon {
			color: var(--success-dark);
		}
	}

	&.-danger {
		background-color: #fbe8e7;
		border-color: #eb968f;
		color: #000;

		.ui-icon {
			color: var(--danger);
		}
	}

	&.-info {
		background-color: #e8f0fe;
		border-color: #95bbf9;
		color: darken(#95bbf9, 30);
	}

	&.-warning {
		background-color: #f7efd9;
		border-color: #f6d26d;
		color: #000;
	}

	> .ui-icon {
		margin-right: 8px;
		font-size: 20px;
		align-self: baseline;
	}

	> .ui-alert-content {
		flex-grow: 1;

		> .ui-alert-title {
			margin: 0;
			margin-bottom: 5px;
			font-weight: 600;
			font-size: 15px;
		}

		> .ui-alert-text {
			word-break: break-word;
		}

		ul ~ ul {
			margin-top: 5px;
		}
	}

	> .ui-alert-close {
		background: none;
		appearance: none;
		box-shadow: none;
		border: none;
		font-size: 18px;
		align-self: center;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border-radius: 100%;
		width: var(--input-height-sm);
		height: var(--input-height-sm);
		cursor: pointer;
		position: absolute;
		right: 10px;
		align-self: center;

		&:hover {
			background-color: rgba(0, 0, 0, 0.05);
		}

		.ui-icon {
			font-size: 18px;
		}
	}

	ul {
		list-style: inside;
		padding: 0;
		margin: 0;

		li + li {
			margin-top: 4px;
		}
	}

	ul.circle {
		li {
			list-style: inside;
		}
	}
}
