@import '../../../scss/mixins.scss';
.ui-alert {
	text-align: left;
	position: relative;
	padding: var(--s-spacing-x-small);
	border-radius: var(--s-border-radius-small);
	background-color: var(--s-color-fill-default-light);
	border: solid 1px var(--s-color-border-default);
	margin-bottom: var(--s-spacing-x-small);
	display: flex;
	align-items: start;

	a {
		color: inherit;
		border-bottom: dashed 1px;
		text-decoration: none;

		&:hover {
			border-bottom: solid 1px;
			text-decoration: none;
		}
	}

	&:last-child {
		margin-bottom: 0;
	}

	&.-center {
		text-align: center;
	}

	&.-success {
		background-color: var(--s-color-fill-success-light);
		border-color: var(--s-color-border-success);
		color: var(--s-color-content-success);

		a:hover {
			color: var(--s-color-content-success);
		}
	}

	&.-danger {
		background-color: var(--s-color-fill-critical-light);
		border-color: var(--s-color-border-critical);
		color: var(--s-color-content-critical);

		a:hover {
			color: var(--s-color-content-critical);
		}
	}

	&.-info {
		background-color: var(--s-color-fill-highlight-light);
		border-color: var(--s-color-border-highlight);
		color: var(--s-color-content-highlight);

		a:hover {
			color: var(--s-color-content-highlight);
		}
	}

	&.-warning {
		background-color: var(--s-color-fill-warning-light);
		border-color: var(--s-color-border-warning);
		color: var(--s-color-content-warning);

		a:hover {
			color: var(--s-color-content-warning);
		}
	}

	> .ui-icon {
		margin-right: var(--s-spacing-nano);
		color: inherit;
	}

	.ui-alert-icon {
		align-self: flex-start;
	}

	.ui-alert-content {
		flex-grow: 1;
		background-color: transparent;

		ul ~ ul {
			margin-top: var(--s-spacing-quark);
		}
	}

	.ui-alert-title {
		font: var(--s-typography-paragraph-strong);
		margin-bottom: 0px;
	}

	.ui-alert-text {
		word-break: break-word;
		font: var(--s-typography-paragraph-regular);
		margin-bottom: 0px;
	}

	.ui-alert-close {
		background: none;
		appearance: none;
		box-shadow: none;
		border: none;
		display: inline-flex;
		align-items: center;
		align-self: baseline;
		justify-content: center;
		border-radius: var(--s-border-radius-small);
		cursor: pointer;
		align-self: flex-start;
		color: inherit;
		padding: var(--s-spacing-quark);

		&:hover {
			background-color: rgba(0, 0, 0, 0.08);
		}
	}

	ul {
		padding: 0;
		margin: 0;
		list-style: none;

		li:not(:last-child) {
			margin-bottom: var(--s-spacing-quark);
		}
	}

	ul.circle {
		li {
			list-style: inside;
		}
	}

	@include darkmode {
		& {
			background-color: var(--s-color-fill-dark);
			color: var(--s-color-content-dark);
			border: 1px solid var(--s-color-border-dark);
		}

		&.-success {
			background-color: var(--s-color-fill-success-dark);
			color: var(--s-color-content-dark-success);
			border: 1px solid var(--s-color-border-dark-success);
		}

		&.-danger {
			background-color: var(--s-color-fill-critical-dark);
			color: var(--s-color-content-dark-critical);
			border: 1px solid var(--s-color-border-dark-critical);
		}

		&.-info {
			background-color: var(--s-color-fill-highlight-dark);
			color: var(--s-color-content-dark-highlight);
			border: 1px solid var(--s-color-border-dark-highlight);
		}

		&.-warning {
			background-color: var(--s-color-fill-warning-dark);
			color: var(--s-color-content-dark-warning);
			border: 1px solid var(--s-color-border-dark-warning);
		}
	}
}
