@import '../../../scss/typography.scss';

.ui-alert {
	text-align: left;
	position: relative;
	padding: var(--spacing-xs);
	background-color: var(--surface-neutral);
	color: var(--text-default);
	margin-bottom: var(--spacing-s);
	display: flex;
	align-items: flex-start;
	column-gap: var(--spacing-xxs);
	border: {
		width: 1px;
		style: solid;
		radius: var(--border-radius-md);
		color: transparent;
	}

	a {
		color: var(--body-color);
		color: inherit;
		border-bottom: dashed 1px;
		text-decoration: none;
		&:hover {
			border-bottom-style: solid;
		}
	}

	&:last-child {
		margin-bottom: 0;
	}

	&.-center {
		text-align: center;
	}

	&.-success {
		background-color: var(--surface-success);
		border-color: var(--border-success);
		color: var(--text-success);

		.ui-alert-icon {
			color: var(--icon-success);
		}
	}

	&.-danger {
		background-color: var(--surface-critical);
		border-color: var(--border-critical);
		color: var(--text-critical);

		.ui-alert-icon {
			color: var(--icon-critical);
		}
	}

	&.-info {
		background-color: var(--surface-highlight);
		border-color: var(--border-highlight);
		color: var(--text-highlight);

		.ui-alert-icon {
			color: var(--icon-highlight);
		}
	}

	&.-warning {
		background-color: var(--surface-warning);
		border-color: var(--border-warning);
		color: var(--text-warning);

		.ui-alert-icon {
			color: var(--icon-warning);
		}
	}

	> .ui-icon {
		font-size: 20px;
		color: inherit;
	}

	> .ui-alert-content {
		flex-grow: 1;

		> .ui-alert-title {
			margin-bottom: var(--spacing-xxxs);
			@include text-style-body-highlight;
			text-transform: none;
		}

		> .ui-alert-text {
			word-break: break-word;
			@include text-style-body;
		}

		ul ~ ul {
			margin-top: var(--spacing-xxxs);
		}
	}

	> .ui-alert-close {
		background: none;
		appearance: none;
		box-shadow: none;
		border: none;
		display: inline-flex;
		align-items: center;
		align-self: baseline;
		justify-content: center;
		cursor: pointer;
		align-self: flex-start;
		color: inherit;

		&:hover {
			background-color: rgba(0, 0, 0, 0.05);
		}

		.ui-icon {
			font-size: 20px;
		}
	}

	ul {
		padding: 0;
		margin: 0;
		list-style: none;

		li:not(:last-child) {
			margin-bottom: var(--spacing-xxxs);
		}
	}

	ul.circle {
		li {
			list-style: inside;
		}
	}
}
