@use '../../mixins/tokens' as tokens;
@use '../primitives/borders.scss' as *;

$semantic-borders-width: (
	none: solid tokens.getPrimitiveVar($primitive-borders, width, 0) var(--s-color-border-default),
	light: solid tokens.getPrimitiveVar($primitive-borders, width, 1px) var(--s-color-border-default),
	thin: solid tokens.getPrimitiveVar($primitive-borders, width, 2px) var(--s-color-border-default),
	strong: solid tokens.getPrimitiveVar($primitive-borders, width, 4px) var(--s-color-border-default),
	heavy: solid tokens.getPrimitiveVar($primitive-borders, width, 8px) var(--s-color-border-default)
);

$semantic-borders-radius: (
	none: tokens.getPrimitiveVar($primitive-borders, radius, 0),
	small: tokens.getPrimitiveVar($primitive-borders, radius, 4px),
	medium: tokens.getPrimitiveVar($primitive-borders, radius, 8px),
	large: tokens.getPrimitiveVar($primitive-borders, radius, 16px),
	pill: tokens.getPrimitiveVar($primitive-borders, radius, 50%)
);
