@use '../../mixins/tokens' as tokens;
@use '../primitives/colors.scss' as *;

@layer brand {
	:root {
		--b-color-base: #{tokens.getPrimitiveVar($primitives-color, neutral, 600)};

		&[data-company='bagy'] {
			--b-color-base: #{tokens.getPrimitiveVar($primitives-color, pink, 600)};
			--b-color-medium: #{tokens.getPrimitiveVar($primitives-color, pink, 500)};
			--b-color-light: #{tokens.getPrimitiveVar($primitives-color, pink, 100)};
		}

		&[data-company='tray'] {
			--b-color-base: #{tokens.getPrimitiveVar($primitives-color, blue, 800)};
		}
	}
}

$semantic-color: (
	background: (
		default: tokens.getPrimitiveVar($primitives-color, neutral, 100),
		overlay: tokens.getPrimitiveVar($primitives-color, black, null, 64),
		highlight: var(--b-color-base)
	),
	fill: (
		default: tokens.getPrimitiveVar($primitives-color, white),
		default-hover: tokens.getPrimitiveVar($primitives-color, neutral, 200),
		default-light: tokens.getPrimitiveVar($primitives-color, neutral, 100),
		disable: tokens.getPrimitiveVar($primitives-color, neutral, 200),
		highlight: var(--b-color-base),
		highlight-hover: var(--b-color-medium),
		highlight-light: var(--b-color-light),
		success: tokens.getPrimitiveVar($primitives-color, green, 600),
		success-hover: tokens.getPrimitiveVar($primitives-color, green, 500),
		success-light: tokens.getPrimitiveVar($primitives-color, green, 100),
		warning: tokens.getPrimitiveVar($primitives-color, orange, 600),
		warning-hover: tokens.getPrimitiveVar($primitives-color, orange, 500),
		warning-light: tokens.getPrimitiveVar($primitives-color, orange, 100),
		critical: tokens.getPrimitiveVar($primitives-color, red, 600),
		critical-hover: tokens.getPrimitiveVar($primitives-color, red, 500),
		critical-light: tokens.getPrimitiveVar($primitives-color, red, 100)
	),
	border: (
		default: tokens.getPrimitiveVar($primitives-color, neutral, 300),
		disable: tokens.getPrimitiveVar($primitives-color, neutral, 400),
		highlight: var(--b-color-base),
		success: tokens.getPrimitiveVar($primitives-color, green, 600),
		warning: tokens.getPrimitiveVar($primitives-color, orange, 600),
		critical: tokens.getPrimitiveVar($primitives-color, red, 600)
	),
	content: (
		default: tokens.getPrimitiveVar($primitives-color, neutral, 800),
		light: tokens.getPrimitiveVar($primitives-color, neutral, 600),
		placeholder: tokens.getPrimitiveVar($primitives-color, neutral, 300),
		disable: tokens.getPrimitiveVar($primitives-color, neutral, 400),
		highlight: var(--b-color-base),
		success: tokens.getPrimitiveVar($primitives-color, green, 600),
		warning: tokens.getPrimitiveVar($primitives-color, orange, 600),
		critical: tokens.getPrimitiveVar($primitives-color, red, 600),
		on-color: tokens.getPrimitiveVar($primitives-color, white)
	)
);
