@use '../../mixins/tokens' as tokens;

$semantics-color: (
  background: (
    default: tokens.getPrimitiveColor(neutral,100),
    highlight: tokens.getPrimitiveColor(pink,600)
  ),
  fill: (
    // default: tokens.getPrimitiveColor(white),
    default-hover: tokens.getPrimitiveColor(neutral,200),
    default-light: tokens.getPrimitiveColor(neutral,100),
    highlight: tokens.getPrimitiveColor(pink,600),
    highlight-hover: tokens.getPrimitiveColor(pink,500),
    highlight-light: tokens.getPrimitiveColor(pink,100),
    success: tokens.getPrimitiveColor(green,600),
    success-hover: tokens.getPrimitiveColor(green,500),
    success-light: tokens.getPrimitiveColor(green,100),
    warning: tokens.getPrimitiveColor(orange,600),
    warning-hover: tokens.getPrimitiveColor(orange,500),
    warning-light: tokens.getPrimitiveColor(orange,100),
    critical: tokens.getPrimitiveColor(red,600),
    critical-hover: tokens.getPrimitiveColor(red,500),
    critical-light: tokens.getPrimitiveColor(red,100),
    disable: tokens.getPrimitiveColor(neutral,200),
  )
);



