@import '../primitives/motions';

$semantic-motion-ease: (
  linear: $primitive-transition-linear,
  in-out: $primitive-transition-ease-in-out,
  out: $primitive-transition-ease-out,
  in: $primitive-transition-ease-in,
  default: $primitive-transition-ease,
);

$semantic-motion-duration: (
  linear: $primitive-duration-linear,
  fast: $primitive-duration-fast,
  default: $primitive-duration-default,
  moderate: $primitive-duration-moderate,
  slow: $primitive-duration-slow,
  very-slow: $primitive-duration-very-slow,
  extremely-slow: $primitive-duration-extremely-slow,
);
