@import '../primitives/dimension';

$semantics-spacing: (
  quarck: $primitives-dimension-4px,
  nano: $primitives-dimension-8px,
  xx-small: $primitives-dimension-12px,
  x-small: $primitives-dimension-16px,
  small: $primitives-dimension-24px,
  medium: $primitives-dimension-32px,
  large: $primitives-dimension-40px,
  x-large: $primitives-dimension-48px,
  xx-large: $primitives-dimension-56px,
  huge: $primitives-dimension-64px
);
