@import '../primitives/spacing';

$semantic-spacings: (
	quarck: $primitive-spacing-4px,
	nano: $primitive-spacing-8px,
	xx-small: $primitive-spacing-12px,
	x-small: $primitive-spacing-16px,
	small: $primitive-spacing-24px,
	medium: $primitive-spacing-32px,
	large: $primitive-spacing-40px,
	x-large: $primitive-spacing-48px,
	xx-large: $primitive-spacing-56px,
	huge: $primitive-spacing-64px
);
