@import '../../../scss/mixins.scss';

.ui-empty-data {
	background: var(--gray-200);
	padding: 1.5rem;
	border-radius: var(--card-border-radius);
	border: dashed 0.1rem transparent;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;

	&.ui-empty-data-link {
		cursor: pointer;
		user-select: none;

		&:hover {
			text-decoration: none;
			border-color: var(--primary);
		}
	}

	.ui-empty-data-icon {
		font-size: 28px;
		opacity: 0.2;
		margin-right: 10px;
	}

	.ui-empty-data-text {
		text-align: center;
		font-weight: 500;
		display: block;
		margin-top: 5px;
	}

	@include darkmode {
		background: var(--dark-300);

		.ui-empty-data-text,
		.ui-empty-data-icon {
			opacity: 0.3;
		}
	}
}
