@import '../../../scss/mixins.scss';

.ui-empty-data {
	padding: 1.5rem;
	border-radius: var(--card-border-radius);
	border: dashed 1px transparent;
	text-align: center;

	&.-border {
		border: dashed 1px var(--border-color);
	}

	&.ui-empty-data-link {
		cursor: pointer;
		user-select: none;

		&:hover {
			text-decoration: none;
			border-color: var(--primary);
		}
	}

	.ui-empty-data-content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
	}

	.ui-empty-data-actions {
		display: flex;
		gap: 8px;
		justify-content: center;
		margin-top: 8px;
	}

	.ui-empty-data-icon {
		font-size: 28px;
		opacity: 0.2;
		margin-right: 10px;
	}

	.ui-empty-data-text {
		text-align: center;
		display: block;
	}

	.ui-empty-data-caption {
		margin-top: 8px;
		color: var(--text-muted);
	}

	.ui-empty-data-icon-text {
		display: block;
	}

	@include darkmode {
		.ui-empty-data-text,
		.ui-empty-data-icon {
			opacity: 0.3;
		}
	}
}
