@import '../../../../src/scss/mixins.scss';

.ui-form-spinbutton {
	@include form-control;
	padding-left: 0;
	padding-right: 0;
	align-items: stretch;

	&.-disabled {
		background-color: var(--gray-100);
		border: solid 1px var(--gray-200);
		button {
			border: none;
			background: none !important;
		}
	}

	&.-lg {
		padding-left: 0;
		padding-right: 0;
		button {
			font-size: 16px;
		}
	}

	&.-sm {
		height: unset;
		border-radius: var(--input-border-radius-sm);
		padding-left: 0;
		padding-right: 0;

		button {
			min-height: var(--input-height-sm);
		}
	}

	.output {
		flex-grow: 1;
		text-align: center;
		border-top: 0;
		border-bottom: 0;
		min-width: 40px;
		line-height: 1;
		border-left: solid 1px var(--input-border-color);
		border-right: solid 1px var(--input-border-color);
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}

	button {
		padding: 0 10px;
		color: var(--body-color);
		box-shadow: none;
		filter: none;
		border-radius: inherit;

		&:last-child {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			// margin-left: -1px;
		}

		&:first-child {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			// margin-right: -1px;
		}

		&:hover {
			color: var(--primary);
		}
	}

	.ui-icon {
		width: 18px;
	}

	.ui-form-spinbutton-loader {
		position: absolute;
		z-index: 8;
		background-color: var(--bg-white);
		opacity: 0.8;
		width: 100%;
		height: 100%;
		border-radius: inherit;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
