@import './redactor/redactor.css';
@import '../../../scss/mixins.scss';

.ui-form-richtext {
	margin-bottom: var(--form-group-margin-bottom);
}

body.redactor-body-fullscreen {
	&::after {
		content: '';
		position: fixed;
		// background: rgba($gray, 0.8);
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 888;
	}

	.redactor-box {
		margin-top: 30px;
	}
}

.redactor-box-fullscreen {
	max-width: 130px;
	left: 50%;
	transform: translateX(-50%);
}

.redactor-source-view {
	.redactor-toolbar {
		a.re-button-icon {
			color: white;
		}
	}
}

#redactor-modal-box,
#redactor-modal-overlay {
	z-index: 99999;
}

.redactor-layer,
.redactor-toolbar {
	border-radius: calc(var(--input-border-radius) - 1px);
	font-family: var(--font-family);
	font-size: var(--font-size-base);
}

.redactor-toolbar {
	box-shadow: none;
	border-bottom: solid 1px var(--input-border-color);
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	padding: 4px 4px 0 4px !important;

	a.re-button-icon {
		background: inherit;
		color: var(--body-color);
		border: none;
		box-shadow: none;
		line-height: 0;
		padding: 6px 6px;
		border-radius: var(--input-border-radius);
		margin: 0 4px 4px 0 !important;

		&:hover {
			background: var(--bg-white);
			text-decoration: none;
			color: var(--primary);
		}
	}
}

.redactor-modal {
	.redactor-modal-tabs {
		a {
			margin-right: 2px;
			padding: 5px 10px;
			background: var(--gray-100);

			&.active {
				border-color: var(--primary);
				background: var(--primary);
				color: #fff;
			}

			&:hover,
			&:focus {
				color: var(--body-color);
				border-color: var(--primary);
				text-decoration: none;
			}
		}
	}

	.form-item input {
		border: solid var(---input-border-width) var(--input-border-color);
		border-radius: var(--input-border-radius);
	}

	.redactor-modal-header {
		font-weight: 500;
		color: var(--body-color);
	}

	.redactor-modal-footer button {
		border-color: var(--primary);
		color: var(--primary);
		border-radius: var(--input-border-radius);
	}

	.redactor-modal-footer,
	.redactor-modal-body {
		padding: 20px;
	}
}

.redactor-box {
	width: 100%;

	+ small {
		margin-left: 5px;
		margin-top: 25px;
		opacity: 0.8;
		font-size: 13px;
		display: block;

		kbd {
			white-space: nowrap;
		}
	}

	.redactor-styles {
		color: var(--body-color);
	}

	&.redactor-styles-on {
		background: var(--input-bg-color) !important;
		border-radius: var(--input-border-radius) !important;
		border: solid var(--input-border-width) var(--input-border-color) !important;

		&.redactor-focus {
			border-color: var(--input-border-focus-color) !important;
		}
	}
}
