@import '../../../scss/mixins.scss';

.ql-snow.ql-toolbar {
	border-top-left-radius: var(--input-border-radius);
	border-top-right-radius: var(--input-border-radius);
	background: var(--input-bg-color);
	border-color: var(--input-border-color);
}
.ql-snow.ql-toolbar {
	@include darkmode {
		.ql-picker {
			color: var(--body-color);
			opacity: 0.8;
		}
		.ql-stroke {
			stroke: var(--body-color);
			opacity: 0.8;
		}
		border-color: rgba(0, 0, 0, 0.15);
		background: var(--dark-200);
	}
}
.ql-container.ql-snow {
	border-color: var(--input-border-color);
	background: var(--input-bg-color);
	border-bottom-left-radius: var(--input-border-radius);
	border-bottom-right-radius: var(--input-border-radius);
	@include darkmode {
		border-color: rgba(0, 0, 0, 0.15);
		background: var(--dark-200);
	}
}
