.ui-skeleton-table {
	width: 100%;
	margin-bottom: 0;
	color: var(--body-color);
	border-spacing: 0;
	border-collapse: separate;

	th,
	td {
		padding: 14px;
	}

	td {
		border-top: 1px solid var(--border-color);
	}

	tr,
	th {
		background-color: var(--dark-200, white);
	}

	&.-no-border {
		th,
		td {
			border-left: none;
			border-right: none;
		}
	}
}
