.ui-skeleton-table {
	width: 100%;
	margin-bottom: 0;
	color: var(--s-color-content-default);
	border-spacing: 0;
	border-collapse: separate;

	th,
	td {
		padding: var(--s-spacing-x-small);
	}

	td {
		border-top: var(--s-border-light);
	}

	tr,
	th {
		background-color: transparent;
	}

	&.-no-border {
		th,
		td {
			border-left: none;
			border-right: none;
		}
	}
}
