.animated-background {
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	background: #f6f6f6;
	background: linear-gradient(
		to right,
		var(--dark-200, #f1f0f0) 12%,
		var(--dark-100, #e2e1e1) 25%,
		var(--dark-300, #f1f0f0) 33%
	);
	background-size: 800px 104px;
	height: 12px;
	width: 100%;
	position: relative;
	border-radius: 10px;
}

.ui-skeleton {
	@extend .animated-background;

	+ .ui-skeleton {
		margin-top: 5px;
	}
}

@keyframes placeHolderShimmer {
	0% {
		background-position: -468px 0;
	}
	100% {
		background-position: 468px 0;
	}
}
