@import '../../../scss/mixins.scss';

.ui-aside {
	position: fixed;
	z-index: 888;
	display: flex;

	.ui-aside-wrapper {
		&.-hide {
			.ui-aside-overlay {
				opacity: 0;
			}

			.ui-aside-content {
				right: -100%;
			}
		}

		&.-show {
			.ui-aside-overlay {
				opacity: var(--modal-backdrop-opacity);
			}
		}

		&.-inner {
			.ui-aside-content {
				margin-left: 20px;
				width: auto;
				max-width: 75%;
			}
		}

		&.-sm {
			.ui-aside-content {
				max-width: 520px;
			}
		}

		&.-md {
			.ui-aside-content {
				min-width: 520px;
				max-width: 50%;
			}
		}

		&.-lg {
			.ui-aside-content {
				width: 90%;
				max-width: 90%;
			}
		}

		&.-scrollable {
			.ui-aside-header {
				background: var(--bg-white);
				position: sticky;
				top: 0;
				z-index: 99;
				border-bottom: solid 2px var(--border-color);
			}

			.ui-aside-body {
				padding-top: calc(var(--modal-padding-x) / 2);
			}

			.ui-aside-footer {
				position: sticky;
				bottom: 0;
				z-index: 99;
				border-top: solid 1px var(--border-color);
			}
		}
	}

	.ui-aside-overlay {
		content: '';
		position: fixed;
		background: var(--modal-backdrop-bg);
		opacity: var(--modal-backdrop-opacity);
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		transition: opacity 0.4s;
		cursor: not-allowed;

		&.-close {
			cursor: default;
		}
	}

	.ui-aside-content {
		position: fixed;
		top: 0;
		right: 0;
		height: 100vh;
		width: 80%;
		z-index: 2;
		background: #fff;
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
		display: flex;
		flex-direction: column;
		overflow-y: auto;
		transition: right 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
		will-change: right, transform;
		animation: 0.2s slideContent;
		animation-fill-mode: forwards;
		max-width: 900px;
		padding: 0;
		border: none;
		transform: translateZ(0);
	}

	.ui-aside-section {
		margin-left: calc(var(--modal-padding-x) * -1);
		margin-right: calc(var(--modal-padding-x) * -1);
		padding: var(--modal-padding-x);

		&:first-child {
			padding-top: 0;
		}

		+ .ui-aside-section {
			border-top: solid 2px var(--border-color);
			padding-top: 20px;
		}
	}

	.ui-aside-header {
		background: rgba(255, 255, 255, 0.95);
		padding: 15px var(--modal-padding-x);
		display: flex;
		border: none;
		margin-bottom: 0;
		align-items: center;

		.title {
			font-weight: var(--font-weight-bold);
			font-size: 20px;
			display: inline-block;
			max-width: 420px;
			margin: 0;
		}

		> .close {
			border: solid 2px transparent;
			padding: 0 5px;
			margin-right: -8px;
			margin-left: auto;
			background: none;
			display: flex;
			align-items: center;
			border: solid 2px;
			border-radius: var(--border-radius);
			border-color: transparent;
			height: 36px;
			cursor: pointer;
			transition: all 0.2s;
			color: var(--body-color);
			font-weight: 500;

			> span {
				margin-right: 10px;
			}

			> .ui-icon {
				background: var(--gray-200);
				border-radius: 5px;
				padding: 0;
				font-size: 18px;
				color: var(--body-color);
				transition: transform 0.3s ease-in-out;
				min-width: 24px;
				min-height: 24px;
				display: inline-flex;
				align-items: center;
				justify-content: center;
			}

			&:hover {
				color: var(--primary);
				.ui-icon {
					background-color: var(--primary);
					color: white;
				}
			}
		}
	}

	form {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}

	.ui-aside-body {
		flex-grow: 1;
		padding: 0 var(--modal-padding-x);
	}

	.ui-aside-footer {
		border: none;
		bottom: 0;
		padding: calc(var(--modal-padding-x) / 2) var(--modal-padding-x);

		background: #fff;
		right: 0;
		left: 0;
		flex-grow: 0;
		display: flex;
		align-items: flex-end;
		margin-top: 20px;
		justify-content: flex-start;

		> div {
			flex: 1;
		}

		.ui-button {
			min-width: 120px;
		}
	}

	@include mobile {
		.ui-aside-content {
			min-width: auto !important;
			width: calc(100vw - 20px) !important;
			max-width: calc(100vw - 20px) !important;
		}

		.ui-aside-footer {
			padding-top: 20px;
			padding-bottom: 20px;
		}

		.ui-aside-header {
			> .title {
				font-size: 24px;
				line-height: 1;
			}

			> .close span {
				display: none;
			}
		}
	}

	@include darkmode {
		.ui-aside-content,
		.ui-aside-footer,
		.ui-aside-header {
			background: var(--dark-200);
		}

		.ui-aside-overlay {
			background: #15191f;
		}
	}
}

@keyframes slideContent {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
