@import '../../../scss/mixins.scss';

.ui-aside {
	position: fixed;
	z-index: var(--s-index-very-high);
	display: flex;

	.ui-aside-wrapper {
		&.-hide {
			.ui-aside-overlay {
				opacity: 0;
			}

			.ui-aside-content {
				right: -100%;
			}
		}

		&.-inner {
			.ui-aside-content {
				margin-left: 20px;
				width: auto;
				max-width: 75%;
			}
		}

		&.-sm {
			.ui-aside-content {
				max-width: 520px;
			}
		}

		&.-md {
			.ui-aside-content {
				min-width: 520px;
				max-width: 50%;
			}
		}

		&.-lg {
			.ui-aside-content {
				width: 90%;
				max-width: 90%;
			}
		}

		&.-scrollable {
			.ui-aside-header {
				background-color: var(--s-color-fill-default);
				position: sticky;
				top: 0;
				z-index: var(--s-index-max);
				border-bottom: var(--s-border-light);

				@include darkmode {
					background-color: var(--s-color-background-dark);
				}
			}

			.ui-aside-body {
				padding-top: calc(var(--s-spacing-medium) / 2);
			}

			.ui-aside-footer {
				position: sticky;
				bottom: 0;
				z-index: var(--s-index-max);
				border-top: var(--s-border-light);
			}
		}
	}

	.ui-aside-overlay {
		content: '';
		position: fixed;
		background-color: var(--s-color-background-overlay);
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		transition: opacity var(--s-motion-duration-fast);
		cursor: not-allowed;

		&.-close {
			cursor: default;
		}
	}

	.ui-aside-content {
		position: fixed;
		top: 0;
		right: 0;
		height: 100%;
		width: 80%;
		z-index: var(--s-index-low);
		background-color: var(--s-color-fill-default);
		box-shadow: var(--s-shadow-level-4);
		display: flex;
		flex-direction: column;
		overflow-y: auto;
		transition: right var(--s-motion-duration-fast) var(--s-motion-ease-out);
		will-change: right, transform;
		animation: var(--s-motion-duration-fast) slideContent;
		animation-fill-mode: forwards;
		max-width: 900px;
		padding: 0;
		border: none;
		transform: translateZ(0);
	}

	.ui-aside-section {
		margin-left: calc(var(--s-spacing-medium) * -1);
		margin-right: calc(var(--s-spacing-medium) * -1);
		padding: var(--s-spacing-medium);

		&:first-child {
			padding-top: 0;
		}

		+ .ui-aside-section {
			border-top: var(--s-border-thin);
			padding-top: var(--s-spacing-small);
		}

		.ui-aside-section-title {
			margin: 0;
			margin-right: auto;
		}

		.ui-aside-section-header {
			display: flex;
			align-items: center;
			margin-bottom: var(--s-spacing-nano);
		}
	}

	.ui-aside-header {
		background-color: var(--s-color-fill-default);
		padding: var(--s-spacing-x-small) var(--s-spacing-medium);
		display: flex;
		border: none;
		margin-bottom: 0;
		align-items: center;

		.title {
			font: var(--s-typography-heading-medium);
			color: var(--s-color-content-default);
			display: inline-block;
			max-width: 420px;
			margin: 0;
		}

		> .ui-icon-button {
			padding: 0 var(--s-spacing-quark);
			margin-right: calc(var(--s-spacing-nano) * -1);
			margin-left: auto;
			background: none;
			display: flex;
			align-items: center;
			border: var(--s-border-thin) transparent;
			border-radius: var(--s-border-radius-medium);
			height: 36px;
			cursor: pointer;
			color: var(--s-color-content-default);
			font-weight: var(--s-font-weight-medium);

			> span {
				margin-right: 10px;
			}

			> .ui-icon {
				border-radius: var(--s-border-radius-small);
				padding: 0;
				font-size: var(--s-font-size-base);
				color: var(--s-color-content-default);
				min-width: 24px;
				min-height: 24px;
				display: inline-flex;
				align-items: center;
				justify-content: center;
			}

			&:hover {
				color: var(--b-color-base);
				.ui-icon {
					background-color: var(--b-color-base);
					color: var(--s-color-fill-default-hover);
				}
			}
		}
	}

	form {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}

	.ui-aside-body {
		flex-grow: 1;
		padding: 0 var(--s-spacing-medium);
	}

	.ui-aside-footer {
		border: none;
		bottom: 0;
		padding: calc(var(--s-spacing-medium) / 2) var(--s-spacing-medium);
		right: 0;
		left: 0;
		flex-grow: 0;
		display: flex;
		align-items: flex-end;
		margin-top: 20px;
		justify-content: flex-start;
		gap: var(--s-spacing-nano);
		background-color: var(--s-color-fill-default);

		> div {
			flex: 1;
		}

		.ui-button {
			min-width: 120px;
		}
	}

	@include mobile {
		.ui-aside-content {
			min-width: auto !important;
			width: calc(100vw - 20px) !important;
			max-width: calc(100vw - 20px) !important;
		}

		.ui-aside-footer {
			padding-top: var(--s-spacing-x-small);
			padding-bottom: var(--s-spacing-x-small);
		}

		.ui-aside-header {
			> .title {
				font: var(--s-typography-heading-medium);
			}

			> .close span {
				display: none;
			}
		}
	}

	@include darkmode {
		.ui-aside-content,
		.ui-aside-footer,
		.ui-aside-header {
			background-color: var(--s-color-background-dark);
			.title {
				color: var(--s-color-content-dark);
			}
		}

		.ui-aside-overlay {
			background-color: var(--s-color-background-overlay);
		}
	}
}

@keyframes slideContent {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
