@import '../../../scss/typography.scss';

.ui-aside {
	position: fixed;
	z-index: var(--z-900);
	display: flex;

	&-wrapper {
		&.-hide {
			.ui-aside-overlay {
				opacity: 0;
			}

			.ui-aside-content {
				right: -100%;
			}
		}

		&.-show {
			.ui-aside-overlay {
				background-color: var(--background-overlay);
			}
		}

		&.-inner {
			.ui-aside-content {
				margin-left: 20px;
				width: auto;
				max-width: 75%;
			}
		}

		&.-sm {
			.ui-aside-content {
				max-width: 520px;
			}
		}

		&.-md {
			.ui-aside-content {
				min-width: 520px;
				max-width: 50%;
			}
		}

		&.-lg {
			.ui-aside-content {
				width: 90%;
				max-width: 90%;
			}
		}

		&.-scrollable {
			.ui-aside-header {
				position: sticky;
				top: 0;
				z-index: var(--z-800);
			}

			.ui-aside-footer {
				position: sticky;
				bottom: 0;
				z-index: var(--z-800);
			}
		}
	}

	&-overlay {
		content: '';
		position: fixed;
		background: var(--background-overlay);
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		transition: opacity 0.4s;
		cursor: not-allowed;

		&.-close {
			cursor: default;
		}
	}

	&-content {
		position: fixed;
		top: 0;
		right: 0;
		height: 100%;
		width: 80%;
		z-index: 2;
		display: flex;
		flex-direction: column;
		overflow-y: auto;
		transition: right 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
		will-change: right, transform;
		animation: 0.2s slideContent;
		animation-fill-mode: forwards;
		max-width: 900px;
		padding: 0;
		border: none;
		transform: translateZ(0);
		background-color: var(--surface-default);
		padding: var(--spacing-sm) var(--spacing-lg);
		row-gap: var(--spacing-sm);
		color: var(--text-default);
	}

	&-header {
		display: flex;
		border: none;
		margin-bottom: 0;
		align-items: center;

		.title {
			@include text-style-small;
			display: inline-block;
			max-width: 420px;
			margin: 0;
		}

		> .close {
			border: solid 2px transparent;
			padding: 0 var(--spacing-xxxs);
			margin-right: -8px;
			margin-left: auto;
			background: none;
			display: flex;
			align-items: center;
			border: solid 2px;
			border-radius: var(--border-radius);
			border-color: transparent;
			height: 36px;
			cursor: pointer;
			color: var(--body-color);
			font-weight: 500;

			> span {
				margin-right: 10px;
			}

			> .ui-icon {
				border-radius: 5px;
				padding: 0;
				font-size: 20px;
				color: var(--body-color);
				transition: transform 0.3s ease-in-out;
				min-width: 24px;
				min-height: 24px;
				display: inline-flex;
				align-items: center;
				justify-content: center;
			}

			&:hover {
				.ui-icon {
					background-color: var(--surface-hovered);
				}
			}
		}
	}

	&-subtitle {
		@include text-style-subheading;
		display: block;
		margin-top: var(--spacing-xxs);
	}

	&-body {
		flex-grow: 1;
		padding: 0 var(--modal-padding-x);
	}

	&-footer {
		border: none;
		bottom: 0;
		padding: calc(var(--modal-padding-x) / 2) var(--modal-padding-x);
		right: 0;
		left: 0;
		flex-grow: 0;
		display: flex;
		align-items: flex-end;
		margin-top: var(--spacing-s);
		justify-content: flex-start;
		gap: var(--spacing-xxs);

		> div {
			flex: 1;
		}

		.ui-button {
			min-width: 120px;
		}
	}

	@include mobile {
		&-content {
			min-width: auto !important;
			width: calc(100vw - 20px) !important;
			max-width: calc(100vw - 20px) !important;
		}

		&-footer {
			padding-top: var(--spacing-s);
			padding-bottom: var(--spacing-s);
		}

		&-header {
			> .close span {
				display: none;
			}
		}
	}
}

@keyframes slideContent {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
