.ui-page-actions {
	padding: 20px 0;
	margin-top: 20px;
	border-top: solid 1px var(--border-color);
	display: flex;

	.ui-page-actions-primary {
		margin-left: auto;
	}

	.ui-page-actions-secondary {
		display: flex;
		gap: 8px;
	}
}
