.ui-feedback-message {
  display: grid;
  text-align: center;
  justify-content: center;
  height: 100%;
  gap: var(--s-spacing-small);
  transition: all var(--s-motion-ease-linear) var(--s-motion-duration-fast);

  &-content {
    display: grid;
    gap: var(--s-spacing-quark);
  }

  &-icon {
    color: var(--s-color-content-default);
  }

  &-title {
    font: var(--s-typography-heading-medium);
    color: var(--s-color-content-default);
    font-weight: var(--s-font-weight-semibold);
    margin-bottom: 0px;
  }

  &-text {
    font: var(--s-typography-paragraph-regular);
    color: var(--s-color-content-light);
    margin-bottom: 0px;
  }

  &-action {
    width: fit-content;
    justify-self: center;
    align-self: center;
  }
}
