@import '../../../scss/mixins.scss';

.ui-form-radio {
	display: flex;
	position: relative;
	cursor: pointer;
	user-select: none;
	font-weight: 600;

	+ .ui-form-radio {
		margin-top: var(--form-group-margin-bottom);
	}

	&:hover {
		.ui-form-radio-checkmark {
			border-color: var(--primary);
		}
	}

	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		transform: translate(3.5px, 4px);

		&:checked ~ .ui-form-radio-checkmark {
			background-color: var(--primary);
			border-color: transparent;
		}
	}

	.ui-form-radio-text:empty {
		display: none;
	}

	.ui-form-radio-text {
		margin-left: 8px;
	}

	.ui-form-radio-checkmark {
		position: relative;
		top: 0;
		left: 0;
		height: var(--form-check-height);
		width: var(--form-check-height);
		min-height: var(--form-check-height);
		min-width: var(--form-check-height);
		background-color: var(--bg-white);
		border-radius: 100%;
		border: solid var(--form-check-border-width) var(--input-border-color);

		&:after {
			display: block;
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			top: 0;
			border: solid 2px var(--bg-white);
			background-color: transparent;
			border-radius: 100%;
		}
	}

	&:disabled {
		&:not(:checked) {
			&:after {
				opacity: 0.6;
			}
		}
	}
}
