@import '../../../scss/mixins.scss';

.ui-logo {
	display: inline-flex;
	align-items: center;

	> .ui-logo-image {
		width: 38px;
	}

	.ui-userbar & {
		.ui-logo-image {
			width: 32px;
			height: 32px;
		}
	}

	@include darkmode {
		filter: brightness(100);
		opacity: 0.3;

		&:hover {
			opacity: 0.5;
		}
	}
}
