.ui-pagination-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--s-spacing-nano);
  border: var(--s-border-light);
  font: var(--s-typography-pragraph-regular);
  cursor: pointer;

  &:last-of-type {
    border-top-right-radius: var(--s-border-radius-medium);
    border-bottom-right-radius: var(--s-border-radius-medium);
  }
  &:first-of-type {
    border-top-left-radius: var(--s-border-radius-medium);
    border-bottom-left-radius: var(--s-border-radius-medium);
  }

  &:hover {
    background-color: var(--s-color-fill-default-hover);
  }

  &.-disabled {
    color: var(--s-color-content-disable);
    pointer-events: none;
    cursor: auto;
  }
}
