@import '../../../scss/mixins.scss';

.ui-stack {
	display: flex;
	gap: var(--grid-gutter-width);

	&.-custom-grid {
		display: grid;
	}

	&:not(.-custom-grid) {
		display: flex;

		@include mobile {
			flex-direction: column;
		}
	}

	&.-align-center {
		align-items: center;
	}

	&.-align-start {
		align-items: flex-start;
	}

	&.-align-end {
		justify-content: flex-end;
	}

	&.-distribute {
		&-left {
			&:not(.-vertical) {
				justify-content: flex-start;
			}

			&.-vertical {
				align-items: flex-start;
			}
		}

		&-center {
			&:not(.-vertical) {
				justify-content: center;
			}

			&.-vertical {
				align-items: center;
			}
		}

		&-right {
			&:not(.-vertical) {
				justify-content: flex-end;
			}

			&.-vertical {
				align-items: flex-end;
			}
		}

		&-around {
			justify-content: space-around;
		}

		&-evenly {
			justify-content: space-evenly;
		}

		&-between {
			justify-content: space-between;
		}
	}

	&.-spacing {
		&-xs {
			&:not(.-vertical) {
				column-gap: calc(var(--grid-gutter-width) * 0.5);
			}

			&.-vertical {
				row-gap: var(--grid-gutter-width);
			}
		}

		&-sm {
			&:not(.-vertical) {
				column-gap: calc(var(--grid-gutter-width) * 0.75);
			}

			&.-vertical {
				row-gap: calc(var(--grid-gutter-width) * 1.5);
			}
		}

		&-lg {
			&:not(.-vertical) {
				column-gap: calc(var(--grid-gutter-width) * 1.25);
			}

			&.-vertical {
				row-gap: calc(var(--grid-gutter-width) * 2.5);
			}
		}

		&-xl {
			&:not(.-vertical) {
				column-gap: calc(var(--grid-gutter-width) * 1.5);
			}

			&.-vertical {
				row-gap: calc(var(--grid-gutter-width) * 3);
			}
		}
	}

	&.-vertical {
		flex-direction: column;
		row-gap: calc(var(--grid-gutter-width));
	}

	&:not(.-vertical) {
		column-gap: var(--grid-gutter-width);
	}

	&.-no-wrap {
		flex-wrap: nowrap;
	}
}
