.tab-container {
	width: 100%;
	justify-content: center;
	gap: var(--s-spacing-quark);

	.ui-tab-item {
		&.-active {
			background-color: var(--s-color-fill-highlight-light);
		}
	}
	.tab-item-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: var(--s-spacing-quark);
	}
}
