.ui-form-select {
	select {
		min-height: auto;
		height: var(--s-spacing-large);

		&.-sm {
			min-height: auto;
			height: var(--s-spacing-medium);
		}

		&.-lg {
			min-height: auto;
			height: var(--s-spacing-xx-large);
		}

		&:hover {
			background-color: var(--s-color-fill-default-hover);
		}
	}
}
