.ui-browser {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	.ui-browser-list {
		padding-top: var(--s-spacing-quark);
		flex-grow: 1;
	}

	.ui-browser-list-row {
		display: flex;
		align-items: center;
		cursor: pointer;

		&:hover {
			background-color: var(--s-color-fill-default-hover);
		}

		+ .ui-browser-list-row {
			border-top: var(--s-border-light);
		}
	}

	.ui-browser-list-cell {
		user-select: none;
		padding: var(--s-spacing-xx-small);

		&.inactive {
			padding-left: var(--s-spacing-small);
		}
	}

	.ui-browser-search {
		position: sticky;
		padding: var(--s-spacing-small) 0;
		z-index: var(--s-index-medium);

		.ui-browser-search-input {
			.box-icon {
				display: flex;
				width: var(--s-spacing-large);
				justify-content: center;

				.icon {
					margin: 0;
				}
			}
		}

		.form-wrapper-content-item {
			padding: 0 var(--s-spacing-xx-small);
		}
	}

	.ui-browser-search-loading {
		padding: var(--s-spacing-xx-small);
	}

	.or:last-child {
		display: none;
	}
}
