@import '../../../scss//mixins.scss';

.ui-button {
	display: inline-flex;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	appearance: none;
	border: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	line-height: 1;
	border-radius: var(--input-border-radius);
	cursor: pointer;
	padding: 7px var(--input-padding-x);
	align-items: center;
	min-height: var(--input-height);
	justify-content: center;
	position: relative;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.2);
	background-color: white;
	font-weight: 500;
	color: var(--body-color);

	@include darkmode {
		&.-default {
			background: var(--dark-300);
		}
	}

	&.-outline {
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
	}

	&.-default {
		border: solid 1px var(--input-border-color);
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);

		&:hover {
			color: var(--body-color);
			filter: none;
			background-color: var(--gray-100);
		}
	}

	&:hover {
		filter: brightness(1.08);
		text-decoration: none;
	}

	&:active {
		// transform: scale(0.98);
		transform: translateY(1px);
	}

	&.-loading {
		.ui-icon {
			display: none;
		}
	}

	&.-link {
		background: none;
		color: var(--link-color);
		box-shadow: none;

		&:focus {
			outline: none;
		}

		&:hover .ui-button-content {
			text-decoration: none;
			div {
				text-decoration: underline;
			}
		}

		&:disabled {
			background-color: transparent;
		}

		&::before {
			display: none;
		}
	}

	&.-sm {
		padding: 0 var(--input-padding-x-sm);
		min-height: var(--input-height-sm);
		border-radius: var(--input-border-radius-sm);
	}

	&.-lg {
		padding: 8px calc(var(--input-height-lg) * 0.35);
		min-height: var(--input-height-lg);
	}

	&.-primary {
		background-color: var(--primary);
		color: white;

		&.-outline {
			background-color: transparent;
			color: var(--body-color);

			&:hover {
				background-color: var(--primary);
				color: white;
			}
		}
	}

	&.-light {
		background-color: var(--gray-100);
		color: var(--body-color);
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), inset 0 0 0 2px rgba(0, 0, 0, 0.2);
	}

	&.-secondary {
		background-color: var(--secondary);
		color: white;

		&.-outline {
			border: 2px solid var(--secondary);
			background-color: transparent;
			color: var(--body-color);

			&:hover {
				background-color: var(--secondary);
				color: white;
			}
		}
	}

	&.-success {
		background-color: var(--success);
		color: white;

		&.-outline {
			border: 2px solid var(--success);
			background-color: transparent;
			color: var(--body-color);

			&:hover {
				background-color: var(--success);
				color: white;
			}
		}
	}

	&.-danger {
		background-color: var(--danger);
		color: white;

		&.-outline {
			border: 2px solid var(--danger);
			background-color: transparent;
			box-shadow: none;
			color: var(--danger);

			&:hover {
				background-color: var(--danger);
				color: white;
			}
		}
	}

	&.-dark {
		background-color: var(--dark);
		color: white;

		&.-outline {
			border: 2px solid var(--dark);
			background-color: transparent;
			color: var(--body-color);

			&:hover {
				background-color: var(--dark);
				color: white;
			}
		}
	}

	&.-plain {
		background: transparent;
		box-shadow: none;
		filter: none;
		border: none;
		color: var(--body-color);

		&:hover {
			filter: none;
			background-color: var(--gray-200);
		}

		&:active {
			background-color: var(--gray-200);
		}
	}

	&.-flush-left {
		margin-left: calc(var(--input-padding-x) * -1);

		&.-sm {
			margin-left: calc(var(--input-padding-x-sm) * -1);
		}
	}

	&.-flush-right {
		margin-right: calc(var(--input-padding-x) * -1);
	}

	&.-block {
		width: 100%;
	}

	&:disabled {
		pointer-events: none;
		opacity: 0.6;
		background-color: var(--gray-200);
		color: var(--text-muted);
		border: solid 1px var(--gray-300);
		box-shadow: 0 1px 0 rgb(0 0 0 / 6%);

		&.-link {
			border: none;
			box-shadow: none;
		}
	}

	&:focus {
		// outline: -webkit-focus-ring-color auto 1px;
		outline: var(--primary) solid 2px;
	}

	.ui-button-content {
		position: relative;
		z-index: 4;
		display: flex;
		line-height: 1;
		gap: 8px;
		align-items: center;

		.ui-icon:last-child:not(:first-child) {
			margin-right: -5px;
		}
	}

	.ui-spinner + div {
		margin-left: 8px;
	}

	.ui-icon {
		color: inherit;
		font-size: 18px;
	}
}
