.ui-button {
	border-radius: var(--input-border-radius);
	box-shadow: none;
	border: none;
	cursor: pointer;
	font-weight: 600;
	line-height: 1.3;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	display: inline-flex;
	min-height: calc(var(--input-height));
	align-items: center;
	vertical-align: middle;
	font-weight: 600;
	justify-content: center;

	.ui-icon {
		color: inherit;
		font-size: 18px;
	}

	&.-primary {
		background-color: var(--primary);
		box-shadow: var(--primary-300) 0 2px 0 0;
		color: white;

		// &:after {
		// 	content: '';
		// 	position: absolute;
		// 	left: 0;
		// 	z-index: 0;
		// 	background: ;
		// }
	}

	&.-danger {
		background-color: var(--danger);
		box-shadow: var(--danger-300) 0 2px 0 0;
		border: 2px solid var(--danger);
		color: white;
	}

	&.-light {
		background: var(--gray-100);
		// box-shadow: var(--gray-300) 0 2px 0 0;
		border: 2px solid var(--gray-300);
		border-bottom-width: 3px;
		color: var(--dark);
	}

	&.-outline-primary {
		background: white;
		box-shadow: var(--primary) 0 2px 0 0;
		border: 2px solid var(--primary);
		color: var(--primary);
	}

	&:hover {
		filter: brightness(1.1);
	}

	&:active {
		box-shadow: var(--primary) 0 0 0 0;
		transform: translate(0, 2px);
		border-bottom-width: 2px;
	}

	.ui-button-content {
		position: relative;
		z-index: 4;
		display: flex;
		line-height: 1;

		> span,
		> div {
			display: inline-flex;
			align-items: center;
		}

		> div ~ .ui-icon {
			margin-left: 10px;
		}

		> .ui-icon:not(:last-child) {
			margin-right: 10px;
		}
	}
}

@media (min-width: 768px) {
	.ui-button {
		min-width: 120px;
		padding: 0 25px;
	}
}
// .ui-button {
// display: inline-flex;
// text-align: center;
// vertical-align: middle;
// -webkit-user-select: none;
// appearance: none;
// border: none;
// -moz-user-select: none;
// -ms-user-select: none;
// user-select: none;
// background-color: transparent;
// line-height: 1.5;
// border-radius: var(--input-border-radius);
// transition-property: background-color, color, border-color, box-shadow;
// transition-duration: 0.1s;
// transition-timing-function: ease-in-out;
// cursor: pointer;
// padding: 0 var(--input-padding-x);
// line-height: 1.2;
// align-items: center;
// min-height: var(--input-height);
// justify-content: center;
// position: relative;
// // overflow: hidden;
// color: var(--primary);
// // border: solid 1px transparent;

// &::before {
//   background-color: white;
//   border-color: transparent;
//   bottom: -4px;
//   content: "";
//   left: 0;
//   right: 0;
//   top: 0;
//   background-clip: padding-box;
//   border-style: solid;
//   position: absolute;
//   z-index: 99;
//   box-shadow: 0 2px 0 red;
// }

// // &:before {
// //   position: absolute;
// //   top: 0;
// //   left: 0;
// //   right: 0;
// //   bottom: 0;
// //   background-color: black;
// //   content: "";
// //   opacity: 0;
// //   transition-property: opacity;
// //   transition-duration: 0.15s;
// //   transition-timing-function: ease-in-out;
// // }

// &:hover {
//   text-decoration: none;
// }

// &:hover:before,
// &:focus:before {
//   opacity: 0.1;
// }

// &.-loading {
//   .ui-icon {
//     display: none;
//   }
// }

// &.-link {
//   background: none;
//   color: var(--link-color);

//   &:hover .ui-button-content {
//     text-decoration: none;
//     div {
//       text-decoration: underline;
//     }
//   }

//   &:disabled {
//     background-color: transparent;
//   }

//   &::before {
//     display: none;
//   }
// }

// &.-sm {
//   padding: 0 var(--input-padding-x-sm);
//   min-height: var(--input-height-sm);
//   border-radius: var(--input-border-radius-sm);
// }

// &.-lg {
//   padding: 8px calc(var(--input-height-lg) * 0.35);
//   min-height: var(--input-height-lg);
// }

// &.-primary {
//   background-color: var(--primary);
//   color: white;
// }

// &.-light {
//   background-color: var(--gray-100);
//   color: var(--body-color);
//   border-color: var(--border-color);
// }

// &.-secondary {
//   background-color: var(--secondary);
//   color: white;
//   &:focus {
//     box-shadow: 0 0 0 1px var(--secondary);
//   }
// }

// &.-success {
//   background-color: var(--success);
//   color: white;
//   &:focus {
//     box-shadow: 0 0 0 1px var(--success);
//   }
// }

// &.-danger {
//   background-color: var(--danger);
//   color: white;

//   &:focus {
//     box-shadow: 0 0 0 1px var(--danger);
//   }
// }

// &.-dark {
//   background-color: var(--dark);
//   color: white;
//   &:focus {
//     box-shadow: 0 0 0 1px var(--dark);
//   }
// }

// &.-white {
//   background-color: white;
//   color: var(--body-color);
//   box-shadow: 0 0 0 1px var(--gray-200);
// }

// &.-primary-outline {
//   border: 2px solid var(--primary);
//   background-color: transparent;
//   color: var(--body-color);

//   &:hover {
//     background-color: var(--primary);
//     color: white;
//   }
// }

// &.-secondary-outline {
//   border: 2px solid var(--secondary);
//   background-color: transparent;
//   color: var(--body-color);

//   &:hover {
//     background-color: var(--secondary);
//     color: white;
//   }
// }

// &.-danger-outline {
//   border: 2px solid var(--danger);
//   background-color: transparent;
//   color: var(--body-color);

//   &:hover {
//     background-color: var(--danger);
//     color: white;
//   }
// }

// &.-success-outline {
//   border: 2px solid var(--success);
//   background-color: transparent;
//   color: var(--body-color);

//   &:hover {
//     background-color: var(--success);
//     color: white;
//   }
// }

// &.-dark-outline {
//   border: 2px solid var(--dark);
//   background-color: transparent;
//   color: var(--body-color);

//   &:hover {
//     background-color: var(--dark);
//     color: white;
//   }
// }

// &.-flush-left {
//   margin-left: calc(var(--input-padding-x) * -1.1);

//   &.-sm {
//     margin-left: calc(var(--input-padding-x-sm) * -1);
//   }
// }

// &.-flush-left {
//   margin-left: calc(var(--input-padding-x) * -1.1);
// }

// &.-flush-right {
//   margin-right: calc(var(--input-padding-x) * -1.1);
// }

// &.-plain {
//   &:hover {
//     color: black;
//   }
//   &:active {
//     > div {
//       background-color: var(--gray-200);
//     }
//   }
// }

// &.-block {
//   width: 100%;
// }

// &:disabled {
//   pointer-events: none;
//   opacity: 0.5;
//   background-color: var(--gray-200);
//   color: var(--dark);
// }

// &:focus {
//   // outline: -webkit-focus-ring-color auto 1px;
//   outline: none;
// }

// .ui-button-content {
//   position: relative;
//   z-index: 4;
//   display: flex;
//   line-height: 1;

//   > span,
//   > div {
//     display: inline-flex;
//     align-items: center;
//   }

//   > div ~ .ui-icon {
//     margin-left: 10px;
//   }

//   > .ui-icon:not(:last-child) {
//     margin-right: 10px;
//   }
// }

// .ui-spinner + div {
//   margin-left: 8px;
// }

// // > div + .icon {
// //   margin-left: 8px;
// // }

// .ui-icon {
//   color: inherit;
//   font-size: 18px;
// }
// }
