@import '../../../scss//mixins.scss';

.ui-button {
	display: inline-flex;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	appearance: none;
	border: var(--s-border-light);
	border-radius: var(--s-border-radius-small);
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	position: relative;

	&-label {
		font: var(--s-typography-label-medium);
	}

	&.-outline {
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
	}

	&:hover {
		background-color: var(--s-color-fill-default-hover);
		text-decoration: none;
	}

	&:active {
		transform: translateY(1px);
	}

	&.-loading {
		.ui-icon {
			display: none;
		}
	}

	&.-sm {
		padding: var(--s-spacing-quark) var(--s-spacing-xx-small);
	}

	&.-md {
		padding: var(--s-spacing-nano) var(--s-spacing-xx-small);
	}

	&.-lg {
		padding: var(--s-spacing-xx-small);
	}

	&.-default {
		background-color: var(--s-color-fill-default);
		color: var(--s-color-content-default);

		&.-outline {
			background-color: transparent;
			color: var(--s-color-content-default);
		}

		&:hover {
			background-color: var(--s-color-fill-default-hover);
		}

		@include darkmode {
			background-color: var(--s-color-fill-dark);
			color: var(--s-color-content-dark);

			&.-plain {
				&:hover {
					background-color: var(--s-color-fill-dark-hover);
				}

				&:active {
					background-color: var(--s-color-fill-default-hover);
				}
			}
		}
	}

	&.-primary {
		background-color: var(--s-color-fill-highlight);
		color: var(--s-color-content-on-color);
		border-color: var(--s-color-border-highlight);

		&.-outline {
			background-color: transparent;
			color: var(--s-color-content-default);
		}
		&:hover {
			background-color: var(--s-color-fill-highlight-hover);
			color: var(--s-color-content-on-color);
		}
	}

	&.-success {
		background-color: var(--s-color-fill-success);
		color: var(--s-color-content-on-color);
		border-color: var(--s-color-border-success);

		&.-outline {
			border: var(--s-border-thin);
			border-color: var(--s-color-border-success);
			background-color: transparent;
			color: var(--s-color-content-default);
		}
		&:hover {
			background-color: var(--s-color-fill-success-hover);
			color: var(--s-color-content-on-color);
		}
	}

	&.-danger {
		background-color: var(--s-color-fill-critical);
		color: var(--s-color-content-on-color);
		border-color: var(--s-color-border-critical);

		&.-outline {
			border: var(--s-border-thin);
			border-color: var(--s-color-border-critical);
			background-color: transparent;
			box-shadow: none;
			color: var(--s-color-content-critical);
		}

		&:hover {
			background-color: var(--s-color-fill-critical-hover);
			color: var(--s-color-content-on-color);
		}
	}

	&.-plain {
		background-color: transparent;
		color: var(--s-color-content-default);
		border-color: transparent;
		filter: none;

		&:hover {
			background-color: var(--s-color-fill-default-hover);
		}

		&:active {
			background-color: var(--s-color-fill-default-hover);
		}
	}

	&.-link {
		background: none;
		border: none;
		color: var(--s-color-fill-highlight);

		&:hover .ui-button-content {
			text-decoration: none;
			.ui-button-label {
				text-decoration: underline;
			}
		}

		&:disabled,
		&.-disabled {
			background-color: transparent;
		}

		&::before {
			display: none;
		}
	}

	&.-flush-left {
		margin-left: calc(var(--s-spacing-x-small) * -1);

		&.-sm {
			margin-left: calc(var(--s-spacing-xx-small) * -1);
		}
	}

	&.-flush-right {
		margin-right: calc(var(--s-spacing-x-small) * -1);

		&.-sm {
			margin-right: calc(var(--s-spacing-xx-small) * -1);
		}
	}

	&.-block {
		width: 100%;
	}

	&:disabled,
	&.-disabled {
		pointer-events: none;
		opacity: 0.6;
		background-color: var(--s-color-fill-disable);
		color: var(--s-color-content-disable);
		border: var(--s-border-light);
		border-color: var(--s-color-border-disable);
		box-shadow: 0 1px 0 rgb(0 0 0 / 6%);

		&.-link {
			border: none;
			box-shadow: none;
		}
	}

	&:focus {
		outline: var(--s-color-fill-highlight) solid 2px;
		outline-offset: 1px;
	}

	.ui-button-content {
		display: flex;
		line-height: 1;
		gap: var(--s-spacing-nano);
		align-items: center;
	}

	.ui-icon {
		color: inherit;
		font-size: 18px;
	}

	@include darkmode {
		&.-default {
			background-color: var(--s-color-fill-dark);
			color: var(--s-color-content-dark);

			&:hover {
				background-color: var(--s-color-fill-dark-hover);
			}
		}

		&.-plain {
			color: var(--s-color-content-dark);

			&:hover {
				background-color: var(--s-color-fill-dark-hover);
			}
		}

		&:disabled,
		&.-disabled {
			background-color: var(--s-color-fill-dark-disable);
			color: var(--s-color-content-dark-disable);
			border-color: var(--s-color-border-dark-disable);

			&.-link {
				border: none;
				box-shadow: none;
			}
		}
	}
}
