@import '../../../scss//mixins.scss';

.ui-button {
	display: inline-flex;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	appearance: none;
	border: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border-radius: var(--s-border-radius-small);
	cursor: pointer;
	padding: var(--s-spacing-nano) var(--s-spacing-xx-small);
	align-items: center;
	min-height: 38px;
	justify-content: center;
	position: relative;
	box-shadow:
		0 0 2px rgba(0, 0, 0, 0.05),
		inset 0 -1px 0 rgba(0, 0, 0, 0.2);
	background-color: var(--s-color-content-on-color);
	color: var(--s-color-content-default);

  &-label {
    font: var(--s-typography-label-medium)
  }

	@include darkmode {
		&.-default {
			background-color: var(-color-fill-highlight-dark);
		}
	}

	&.-outline {
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
	}

	&.-default {
		border: var(--s-border-light);
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);

		&:hover {
			color: var(--s-color-content-default);
			background-color: var(--s-color-fill-default-hover);
			filter: none;
		}
	}

	&:hover {
		filter: brightness(1.08);
		text-decoration: none;
	}

	&:active {
		transform: translateY(1px);
	}

	&.-loading {
		.ui-icon {
			display: none;
		}
	}

	&.-link {
		background: none;
		color: var(--s-color-fill-highlight);
		box-shadow: none;

		&:focus {
			outline: none;
		}

		&:hover .ui-button-content {
			text-decoration: none;
			div {
				text-decoration: underline;
			}
		}

		&:disabled,
		&.-disabled {
			background-color: transparent;
		}

		&::before {
			display: none;
		}
	}

	&.-sm {
		padding: 0 var(--s-spacing-xx-small);
		min-height: 30px;
		border-radius: var(--s-spacing-quark);
	}

	&.-lg {
		padding: var(--s-spacing-xx-small);
		min-height: 50px;
	}

	&.-primary {
		background-color: var(--s-color-fill-highlight);
		color: var(--s-color-content-on-color);

		&.-outline {
			background-color: transparent;
			color: var(--s-color-content-default);

			&:hover {
				background-color: var(--s-color-fill-highlight-hover);
				color: var(--s-color-content-on-color);
			}
		}
	}

	&.-light {
		background-color: var(--s-color-background-default);
		border: var(--s-border-light);
		color: var(--s-color-content-default);
	}
	&.-secondary {
		background-color: var(--s-color-fill-warning);
		color: var(--s-color-content-on-color);

		&.-outline {
			border: var(--s-border-thin);
			border-color: var(--s-color-border-warning);

			background-color: transparent;
			color: var(--s-color-content-default);

			&:hover {
				background-color: var(--s-color-fill-highlight-hover);
				color: var(--s-color-content-on-color);
			}
		}
	}

	&.-success {
		background-color: var(--s-color-fill-success);
		color: var(--s-color-content-on-color);

		&.-outline {
			border: var(--s-border-thin);
			border-color: var(--s-color-border-success);

			background-color: transparent;
			color: var(--s-color-content-default);

			&:hover {
				background-color: var(--s-color-fill-success-hover);
				color: var(--s-color-content-on-color);
			}
		}
	}

	&.-danger {
		background-color: var(--s-color-fill-critical);
		color: var(--s-color-content-on-color);

		&.-outline {
			border: var(--s-border-thin);
			border-color: var(--s-color-border-critical);
			background-color: transparent;
			box-shadow: none;
			color: var(--s-color-content-critical);

			&:hover {
				background-color: var(--s-color-fill-critical-hover);
				color: var(--s-color-content-on-color);
			}
		}
	}

	&.-dark {
		background-color: var(--s-color-fill-dark);
		color: var(--s-color-content-on-color);

    &:hover {
      background-color: var(--s-color-fill-dark-hover);
    }
		&.-outline {
			border: var(--s-border-thin);
			border-color: var(--s-color-border-dark);
			background-color: transparent;
			color: var(--s-color-content-default);

		}
	}

	&.-plain {
		background: transparent;
		box-shadow: none;
		filter: none;
		border: none;
		color: var(--s-color-content-default);

		&:hover {
			filter: none;
			background-color: var(--s-color-fill-default-hover);
		}

		&:active {
			background-color: var(--s-color-fill-default-hover);
		}
	}

	&.-flush-left {
		margin-left: calc(var(--s-spacing-x-small) * -1);

		&.-sm {
			margin-left: calc(var(--s-spacing-xx-small) * -1);
		}
	}

	&.-flush-right {
		margin-right: calc(var(--s-spacing-x-small) * -1);

		&.-sm {
			margin-right: calc(var(--s-spacing-xx-small) * -1);
		}
	}

	&.-block {
		width: 100%;
	}

	&:disabled,
	&.-disabled {
		pointer-events: none;
		opacity: 0.6;
		background-color: var(--s-color-fill-disable);
		color: var(--s-color-content-disable);
		border: var(--s-border-light);
		border-color: var(--s-color-border-disable);
		box-shadow: 0 1px 0 rgb(0 0 0 / 6%);

		&.-link {
			border: none;
			box-shadow: none;
		}
	}

	&:focus {
		outline: var(--s-color-fill-highlight) solid 2px;
		outline-offset: 1px;
	}

	.ui-button-content {
		display: flex;
		line-height: 1;
		gap: var(--s-spacing-nano);
		align-items: center;

		.ui-icon:last-child:not(:first-child) {
			margin-right: -5px;
		}
	}

	.ui-spinner + div {
		margin-left: var(--s-spacing-nano);
	}

	.ui-icon {
		color: inherit;
		font-size: 18px;
	}
}
