.ui-color-thumb {
	width: var(--input-height);
	height: var(--input-height);
	display: inline-block;
	position: relative;
	border-radius: 100%;
	overflow: hidden;
	vertical-align: middle;

	&.-sm {
		width: var(--input-height-sm);
		height: var(--input-height-sm);
	}

	&::after {
		content: '';
		display: block;
		border: solid 2px rgba(#fff, 0.2);
		position: absolute;
		left: 1px;
		top: 1px;
		right: 1px;
		bottom: 1px;
		z-index: 8;
		border-radius: 100%;
	}

	&::before {
		content: '';
		display: block;
		border: solid 1px rgba(0, 0, 0, 0.1);
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 8;
		border-radius: 100%;
	}

	&-image {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		background-size: cover;
		background-position: center;
		border-radius: 100%;
	}

	.ui-color-thumb-color {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		background-size: cover;
		border-radius: 100%;

		&.-secondary {
			top: 48%;
			transform: rotate(-45deg);
			width: 130%;
		}
	}

	+ span {
		margin-left: 5px;
	}
}
