.ui-tag {
	display: inline-flex;
	align-items: center;
	padding: 4px 0 4px 10px;
	background-color: var(--gray-100);
	border-radius: 3px;
	position: relative;
	padding-right: 30px;
	overflow: hidden;

	&.-dark {
		background-color: var(--dark);
		color: white;
	}

	&.-light {
		background-color: var(--border-color);
	}

	&.-success {
		background-color: var(--success);
		color: white;
	}

	&.-danger {
		background-color: var(--danger);
		color: white;
	}

	.ui-tag-close {
		cursor: pointer;
		font-size: 18px;
		padding: 0 4px;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		&:hover {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}
}
