.ui-tag {
	display: inline-flex;
	align-items: center;
	padding: 4px 0 4px 10px;
	background-color: var(--gray-100);
	border-radius: 3px;
	position: relative;
	padding-right: 25px;
	overflow: hidden;
	font-size: 12px;
	min-height: 24px;

	&.-dark {
		background-color: var(--dark);
		color: white;
	}

	&.-primary {
		background-color: var(--primary);
		color: white;
	}

	&.-light {
		background-color: var(--border-color);
	}

	&.-success {
		background-color: var(--success);
		color: white;
	}

	&.-danger {
		background-color: var(--danger);
		color: white;
	}

	.ui-tag-close {
		cursor: pointer;
		font-size: 16px;
		padding: 0 4px;
		position: absolute;
		display: flex;
		align-items: center;
		right: 2px;
		width: 20px;
		height: 20px;
		border-radius: 100%;
		justify-content: center;
		&:hover {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}
}
