.filter-list {
	.filter-list-item {
		padding: var(--s-spacing-quark) 0;

		.ui-icon {
			transition: transform 0.2s;
		}

		&.-active {
			.ui-icon {
				transform: rotate(180deg);
			}
		}

		&.-checked {
			.filter-list-title {
				span::after {
					content: '';
					width: var(--s-spacing-nano);
					height: var(--s-spacing-nano);
					background-color: var(--s-color-background-highlight);
					border-radius: 100%;
					display: inline-block;
					margin-left: auto;
					margin-right: var(--s-spacing-nano);
				}
			}
		}
	}

	.filter-list-title {
		user-select: none;
		display: flex;
		align-items: center;
		font: var(--s-typography-paragraph-strong);
		padding: 0;
		cursor: pointer;
		background-color: var(--s-color-fill-default-light);
		border-radius: var(--s-border-radius-small);
		padding: 0 var(--s-spacing-x-small);

		span {
			flex-grow: 1;
			padding: var(--s-border-radius-medium) 0;
			align-items: center;
			display: inline-flex;
		}

		&:hover {
			background-color: var(--s-color-fill-default-hover);
		}
	}

	.filter-list-accordion {
		padding: var(--s-spacing-nano);
		margin-top: var(--s-spacing-nano);
	}
}
