@import '../../../scss/mixins.scss';

.stats-group {
	position: relative;
	margin-bottom: var(--grid-gutter-width);

	&.-vertical {
		.stats-group-wrapper {
			flex-direction: column;
		}
	}

	.stats-group-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}
