@import '../../../scss/mixins.scss';

.stats-group {
	margin-bottom: var(--s-spacing-small);

	.stats-group-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-content: space-around;
		gap: var(--s-spacing-x-small);

		@include mobile {
			grid-template-columns: 1fr;
		}
	}
}
