@import '../../../scss/mixins.scss';

.ui-dialog {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	overflow-x: hidden;
	overflow-y: auto;

	&.-hide {
		> .ui-dialog-wrapper > .ui-dialog-content {
			animation: 0.2s dialogZoomOut;
			animation-fill-mode: forwards;
		}

		> .ui-dialog-wrapper > .ui-dialog-overlay {
			animation: 0.4s dialogFade reverse;
		}
	}

	&.-show {
		> .ui-dialog-wrapper > .ui-dialog-overlay {
			opacity: var(--modal-backdrop-opacity);
		}
	}

	&.-primary {
		> .ui-dialog-wrapper > .ui-dialog-overlay {
			background-color: var(--primary);
		}
	}

	> .ui-dialog-wrapper {
		min-height: 100vh;
		display: flex;
		align-items: center;
		width: auto;
		margin: 0 auto;
		transition: transform 0.1s;
		will-change: transform;

		> .ui-dialog-overlay {
			content: '';
			position: fixed;
			background: var(--modal-backdrop-bg);
			opacity: 0;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			animation: 0.4s dialogFade;
		}

		> .ui-dialog-content {
			box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
			transition: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
			position: relative;
			display: flex;
			flex-direction: column;
			width: 100%;
			pointer-events: auto;
			background-clip: padding-box;
			border-radius: var(--border-radius);
			outline: 0;
			margin: 0 auto;
			background-color: white;
			animation: 0.2s dialogZoom;
			animation-fill-mode: forwards;
			padding: 30px;
			max-width: 460px;

			> .ui-dialog-header {
				display: flex;
				align-items: center;
				justify-content: space-between;

				> .title {
					font-weight: 600;
					font-size: 22px;
					line-height: 1.1;
					margin: 0;

					> .ui-icon {
						color: var(--secondary);
						top: 3px;
						position: relative;
					}
				}
			}

			> .ui-dialog-body {
				padding: 20px 0;
				flex-grow: 1;

				&:first-child {
					padding-top: 0;
				}

				ul {
					padding-left: 20px;
				}
			}

			> .ui-dialog-footer {
				padding-top: 20px;
				gap: 10px;
				display: flex;
				justify-content: flex-start;

				.btn-destruct {
					min-width: 100px;
				}
			}
		}
	}

	@include darkmode {
		.ui-dialog-content {
			background: var(--bg-white);
		}
	}
}

@keyframes dialogZoom {
	from {
		opacity: 0;
		transform: scale(1.03);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes dialogZoomOut {
	from {
		opacity: 1;
		transform: scale(1);
	}

	to {
		opacity: 0;
		transform: scale(0.9);
	}
}

@keyframes dialogFade {
	from {
		opacity: 0;
	}

	to {
		opacity: var(--modal-backdrop-opacity);
	}
}
