hr {
	min-width: 100%;
	border-width: 0;
	background-color: var(--gray-200);
	height: 1px;
	margin-top: 20px;
	margin-bottom: 20px;

	&.-transparent {
		background-color: transparent !important;
	}

	&.-hr-2 {
		height: 1px;
	}
}
