.ui-callout-card {
	.ui-card-body {
		display: flex;
		align-items: flex-start;
		gap: var(--grid-gutter-width);
	}

	&-content {
		width: 100%;
	}

	&-header {
		display: flex;
		gap: var(--grid-gutter-width);
		align-items: center;
		margin-bottom: 12px;
	}

	&-title {
		margin: 0;
	}

	.ui-callout-card-actions {
		margin-top: 12px;
		display: flex;
	}

	.ui-callout-card-icon {
		background-color: var(--success);
		border-radius: 6px;
		padding: 10px;
		display: flex;
	}

	.-bg-primary {
		background-color: var(--primary);
	}
}
