@import '../../../scss/mixins.scss';

.ui-index-table-list {
  overflow-x: auto;

  @include scrollbarStyle;
}

.ui-index-table-list-all-items-checkbox {
  padding-left: var(--s-spacing-x-small);
  padding-right: var(--s-spacing-x-small);
  width: 20px;
}
