@import '../../../scss/mixins.scss';

.ui-index-table-list {
  min-width: 100%;
  min-height: 300px;
}

.ui-index-table-list-all-items-checkbox {
  padding-left: var(--s-spacing-x-small);
  padding-right: var(--s-spacing-x-small);
  width: 20px;
}
