.table-list-loader {
  background-color: var(--s-color-fill-success-light);
  padding: var(--s-spacing-x-small);
  overflow: hidden;
  transition:
    transform var(--s-motion-duration-fast) var(--s-motion-ease-default),
    opacity var(--s-motion-duration-fast);
  color: var(--s-color-content-success);
  font-weight: var(--s-font-weight-medium);
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;

  &.-show {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  > .table-list-loader-spinner {
    margin-right: var(--s-spacing-nano);
  }

  > .table-list-loader {
    margin-right: var(--s-spacing-nano);
  }
}
