.ui-index-table-actions-item,
.ui-index-table-actions-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ui-index-table-actions-search {
  max-width: 300px;
}

.ui-index-table-actions-item {
  padding: var(--s-spacing-x-small);
  border-bottom: 1px solid var(--s-color-border-highlight);
}

.ui-index-table-actions-checkbox {
  margin-right: var(--s-spacing-nano);
}

.ui-index-table-actions-wrapper {
  gap: var(--s-spacing-nano);
}
