.selectable-list {
	.selectable-list-content {
		padding: 0;
	}

	.selectable-list-item {
		display: flex;
		padding: 8px;
		border: solid 1px transparent;
		border-radius: var(--input-border-radius);
		cursor: pointer;
		align-items: center;
		gap: 8px;
		margin: 0;
		border-radius: var(--input-border-radius);

		&:hover {
			background-color: var(--gray-100);
		}

		&.-selected {
			background-color: #f2f7fe;
		}

		&:last-child {
			border: none;
		}

		+ .selectable-list-item {
			margin-top: 2px;
		}

		label {
			pointer-events: none;
		}
	}

	.selectable-list-item-text {
		flex-grow: 1;
	}
}
