.ui-table {
	display: table;
	width: 100%;
	position: relative;

	.ui-table-header {
		display: table-header-group;

		+ .ui-table-row > .ui-table-cell {
			border-top: none;
		}
	}

	.ui-table-link {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 1;
	}

	.ui-table-cell.-head {
		border: none;
		font-weight: var(--font-weight-semibold);
		font-size: 12px;
		text-transform: uppercase;
		opacity: 0.9;
		font-weight: var(--font-weight-semibold);
		border-bottom: solid 1px var(--border-color);
	}

	&.-no-padding {
		.ui-table-cell {
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
		}
	}

	&.-hover {
		> .ui-table-row,
		tbody > .ui-table-row {
			cursor: pointer;

			&:hover {
				background-color: var(--gray-100);
			}
		}
	}

	.ui-table-row:first-child {
		.ui-table-cell {
			border-top: none;
		}
	}

	.ui-table-cell {
		display: table-cell;
		vertical-align: middle;
		padding: 10px;
		border-top: solid 1px var(--border-color);

		strong {
			font-weight: var(--font-weight-semibold);
		}

		&.-handle {
			cursor: grab;
			padding-right: 0;

			> i {
				font-size: 18px;
				color: var(--body-color);
				opacity: 0.5;
			}

			&:hover i {
				color: var(--primary);
			}
		}

		&.-drag {
			padding: 0;
			text-align: center;
			cursor: grab !important;
			width: 1px;
			color: var(--gray-300);

			.ui-icon {
				display: flex;
				font-size: 18px;
			}
		}
	}

	.ui-table-row {
		display: table-row;
		color: inherit;

		&:hover {
			text-decoration: none;
		}
		// &:hover * {
		// 	text-decoration: none;
		// }
	}

	.ui-table-cell.-auto {
		width: 1px;
		z-index: 2;
		white-space: nowrap;
	}

	.table-list-body {
		display: table-row-group;
	}
}
