@import '../../../scss/typography.scss';

.ui-badge {
	display: inline-flex;
	align-items: center;
	color: var(--text-default);
	background: var(--surface-neutral);
	padding: var(--spacing-xxxs) var(--spacing-xxs);
	border-radius: var(--border-radius-xl);
	@include text-style-caption;

	& + .ui-badge {
		margin-left: 5px;
	}

	&.-primary {
		background-color: var(--primary);
		color: var(--text-on);
	}

	&.-secondary {
		background-color: var(--secondary);
		color: var(--text-neutral);
	}

	&.-danger {
		background-color: var(--critical);
		color: var(--text-on);
	}

	&.-success {
		background-color: var(--success);
		color: white;
	}
}
