.ui-badge {
	display: inline-flex;
	align-items: center;
	border-radius: var(--badge-border-radius, var(--s-border-small));
	color: var(--badge-color, var(--s-color-content-on-color));
	font: var(--s-typography-label-small);
	font-weight: var(--s-font-weight-semibold);

	& + .ui-badge {
		margin-left: var(--s-spacing-quark);
	}

	&.-variant {
		&-default {
			--badge-color: var(--s-color-content-primary);
			background-color: var(--s-color-fill-default-light);
		}

		&-primary {
			background-color: var(--s-color-fill-highlight);
		}

		&-warning {
			background-color: var(--s-color-fill-warning);
		}

		&-danger {
			background-color: var(--s-color-fill-critical);
		}

		&-success {
			background-color: var(--s-color-fill-success);
		}
	}

	&.-size {
		&-sm {
			padding: 0 var(--s-spacing-quark);

			&.-pill {
				padding: 0 var(--s-spacing-nano);
			}
		}

		&-md {
			padding: 0 var(--s-spacing-nano);
		}

		&-lg {
			padding: var(--s-spacing-quark) var(--s-spacing-x-small);
		}
	}

	&.-pill {
		border-radius: var(--s-border-large);
	}
}
