.ui-badge {
	display: inline-flex;
	align-items: center;
	font-weight: var(--font-weight-semi);
	color: var(--body-color);
	background: var(--gray-200);
	padding: 5px;
	border-radius: 4px;
	font-size: 12px;
	line-height: 1;

	& + .ui-badge {
		margin-left: 5px;
	}

	&.-light {
		background-color: var(--dark-100);
		color: var(--body-color);
	}

	&.-primary {
		background-color: var(--primary);
		color: white;
	}

	&.-secondary {
		background-color: var(--secondary);
		color: white;
	}

	&.-danger {
		background-color: var(--danger);
		color: white;
	}

	&.-dark {
		background-color: var(--dark);
		color: white;
	}

	&.-success {
		background-color: var(--success);
		color: white;
	}

	&.-sm {
		font-size: 10px;
	}

	&.-lg {
		padding: 6px 12px;
		font-size: 13px;
	}

	&.-hover {
		&:hover {
			color: var(--link-color);
			.icon {
				color: var(--link-color);
			}
		}
	}

	&.-pill {
		padding-left: 10px;
		padding-right: 10px;
		border-radius: 20px;
	}

	.icon {
		font-size: 21px;
		margin-right: 5px;
	}
}
