@import '../../../../scss/mixins.scss';

.ui-table {
  .ui-index-table-list-cell {
    &.ui-table-cell {
      padding: var(--s-spacing-nano) var(--s-spacing-x-small);
    }
  }
}

.ui-index-table {
  &-list {
    min-width: 100%;
    min-height: 300px;
    border-top: var(--s-border-light);

    &.-without-border-top {
      border-top: none;
    }

    &-all-items-checkbox {
      padding: var(--s-spacing-nano) var(--s-spacing-x-small);
      width: 20px;
    }

    &-head-cell.ui-table-cell {
      padding: var(--s-spacing-nano) var(--s-spacing-x-small);
      color: var(--s-color-content-default);
    }

    &-head-icon {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }

  &-empty-message {
    min-height: 300px;
  }

  &-body {
    .ui-table-row {
      transition: all var(--s-motion-duration-fast) var(--s-motion-ease-default);

      &:hover,
      &:focus {
        text-decoration: none;
        background-color: var(--s-color-fill-default-hover);
        cursor: pointer;
      }
    }
  }
}
