@import '../../../scss/mixins.scss';

.ui-colorpicker {
	display: inline-block;
	.ui-colorpicker-label {
		display: block;
	}

	.ui-colorpicker-content {
		display: flex;
		gap: var(--s-spacing-nano);
	}

	.pickr {
		min-height: var(--s-spacing-small);
		min-width: var(--s-spacing-small);
		position: relative;
		border-radius: var(--s-border-radius-small);

		&:after {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			content: '';
			display: block;
			border: var(--s-border-light);
			z-index: var(--s-index-medium-high);
			border-radius: inherit;
			opacity: 0.2;
			cursor: pointer;
		}

		.pcr-button {
			border-radius: inherit;
			transition: none;
			height: 100%;
			width: 100%;
			&::after,
			&::before {
				border-radius: inherit;
				transition: none;
			}

			&.clear {
				background-size: 25%;

				@include desktop {
					background-size: 30%;
				}
			}
		}
	}
}

.pcr-app {
	background-color: var(--s-color-fill-default);

	.pcr-interaction {
		flex-wrap: nowrap;

		input {
			font: var(--s-typography-caption-small);
		}

		.pcr-result {
			min-width: var(--s-spacing-large);
			background-color: var(--s-color-fill-default);

			color: var(--s-color-content-default);
		}

		.pcr-save {
			order: 2;
		}
	}
}
