.ui-colorpicker {
	display: inline-flex;
	height: var(--input-height);
	width: var(--input-height);
}

.pcr-interaction {
	flex-wrap: nowrap !important;

	input {
		font-size: 11px !important;
		letter-spacing: 0 !important;
	}

	.pcr-result {
		min-width: 40px !important;
	}

	.pcr-save {
		order: 2;
	}
}

.pickr {
	position: relative;
	border-radius: var(--input-border-radius);
	height: 100%;
	width: 100%;

	&:after {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		content: '';
		display: block;
		border: solid var(--border-width);
		z-index: 22;
		border-radius: inherit;
		opacity: 0.2;
		cursor: pointer;
	}

	.pcr-button {
		border-radius: inherit;
		transition: none;
		height: 100%;
		width: 100%;
		&::after,
		&::before {
			border-radius: inherit !important;
			transition: none;
		}

		&.clear {
			background-size: 60%;
		}
	}
}
