.ui-image {
	background: var(--s-color-fill-default-light);
	border: var(--s-border-light);
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	aspect-ratio: 1;
	border-radius: var(--s-border-radius-small);

	&.-is-rounded {
		border-radius: var(--s-border-radius-pill);
	}

	&-icon {
		font-size: inherit;
		width: inherit;
		height: inherit;
		color: var(--s-color-content-light);
	}

	&-content {
		aspect-ratio: 1;
		width: 100%;
	}
}