.ui-image {
	background: var(--bg-white);
	position: relative;
	padding: 0;
	display: block;
	overflow: hidden;

	&::after {
		content: '';
		border: solid 1px rgba(0, 0, 0, 0.05);
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		position: absolute;
		z-index: 5;
		display: block;
		border-radius: inherit;
	}

	&.-circle {
		border-radius: 100%;
		border-width: 2px;
	}

	&.-no-image {
		background: var(--gray-100);
	}

	&.-is-bg {
		background-size: cover;
		background-position-x: center;
		background-position-y: -1px;
	}

	&.-is-rounded {
		border-radius: 100%;
		background-position-y: 0;
	}

	.image-content {
		position: absolute;
		max-width: 110%;
		max-height: 110%;
		display: block;
		top: 0;
		right: 0;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		margin: auto;

		.ui-icon {
			color: var(--gray-300);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 22px;
		}
	}
}
