@import '../../../scss/mixins.scss';

.titlebar {
	margin: var(--s-spacing-small) 0;
	display: flex;
	align-items: center;
	min-height: 40px;

	&-content {
		display: flex;
		align-items: center;
		gap: var(--s-spacing-x-small);
		color: var(--s-color-content-default);

		&-title-text {
			font: var(--s-typography-heading-large);
			margin: 0;
		}

		&.-mobile {
			display: none;
		}
	}

	> .ui-icon {
		height: 100%;
		align-items: center;
		display: flex;
		flex-grow: 1;
	}

	.titlebar-actions {
		margin-left: auto;
		white-space: nowrap;
		display: flex;
		align-items: center;
		gap: 10px;
	}

	.titlebar-actions-secondary {
		display: flex;
		gap: inherit;
	}

	@include mobile {
		margin: var(--s-spacing-x-small) 0 var(--s-spacing-small) 0;

		&-content {
			flex: 1;
			overflow: hidden;

			&-title-text {
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
		}
	}
}
