.ui-button-action {
  color: var(--body-color);
  opacity: 0.8;
  border: none !important;
  box-shadow: none !important;

  &:last-child {
    margin: 0;
  }

  &:hover:not(.btn-active),
  &:focus:not(.btn-active) {
    text-decoration: none;
    opacity: 1;
  }

  &.-delete {
    background-color: none;
    border: none;
  }

  &.-btn-active {
    color: var(--success);

    &.-inactive {
      color: var(--danger);
    }

    &:hover {
      opacity: 1;
    }
  }

  + .ui-button-action {
    margin-left: 5px;
  }

  i {
    display: flex;
  }
}
