.ui-rating {
	user-select: none;
	white-space: nowrap;
	display: inline-flex;
	align-items: center;

	.ui-icon {
		display: none;
		color: var(--s-color-content-light);
		transition: color var(--s-motion-duration-fast);
	}

	> span {
		display: inline-flex;

		.ui-icon:hover {
			color: var(--body-color);
		}
	}

	.star > .ui-icon:first-child {
		display: block;
		color: var(--secondary);
	}

	.star-border > .ui-icon:last-child {
		display: block;
	}
}
