.ui-icon-button {
	border: none;
	appearance: none;
	background: none;
	height: var(--input-height);
	width: var(--input-height);
	min-height: var(--input-height);
	min-width: var(--input-height);
	cursor: pointer;
	justify-content: center;
	padding: 0;
	align-items: center;
	display: inline-flex;
	color: var(--body-color);
	box-shadow: none;

	.ui-button-content {
		div {
			display: flex;
		}
	}

	&.-sm {
		height: var(--input-height-sm);
		width: var(--input-height-sm);
		min-height: var(--input-height-sm);
		min-width: var(--input-height-sm);
		i {
			font-size: 18px;
		}
	}

	&.-fab {
		position: absolute;
	}

	.ui-icon {
		font-size: 22px;
	}
}
