.ui-icon-button {
	.ui-button-content {
		.ui-button-label {
			display: flex;
		}
	}

	&.-sm,
	&.-md {
		padding: var(--s-spacing-quark);
	}

	&.-lg {
		padding: var(--s-spacing-nano);
	}

	&.-fab {
		position: absolute;
	}

	&.-on-color {
		color: var(--s-color-content-on-color);
		border-color: transparent;
	}
}
