@import '../../../scss/mixins.scss';

.ui-stats-item {
	text-align: center;
	padding: var(--s-spacing-nano) var(--s-spacing-small);
	border-radius: var(--s-border-radius-small);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;

	&-label {
		font: var(--s-typography-caption-medium);
		display: block;
	}

	&-value {
		font: var(--s-typography-heading-x-small);
		display: block;
	}
}
