.ui-tag-button {
	display: inline-flex;
	align-items: center;
	padding: 4px 0 4px 10px;
	background-color: var(--gray-100);
	border-radius: 2px;

	.ui-tag-button-close {
		cursor: pointer;
		font-size: 18px;
		padding: 0 4px;
	}
}
