.ui-text-style {
	&.-variant {
		&-primary {
			color: var(--s-color-content-highlight);
		}

		&-success {
			color: var(--s-color-content-success);
		}

		&-danger {
			color: var(--s-color-content-critical);
		}

		&-strong {
			font: var(--s-typography-paragraph-strong);
		}

		&-muted {
			color: var(--s-color-content-light);
		}

		&.-block {
			display: block;
		}
	}
}
