@import '../../../../src/scss/mixins.scss';

.ui-form-autocomplete {
	z-index: 300;
	position: relative;
	margin-bottom: var(--form-group-margin-bottom);

	&.-focus {
		z-index: 310;
	}

	&.-sm {
		.ts-wrapper.single .ts-control {
			height: var(--input-height-sm);
			padding: 0 var(--input-padding-x-sm);
			border-radius: var(--input-border-radius-sm);
			display: flex;
			align-items: center;

			.item {
				margin-right: 10px;
			}
		}
	}

	.has-items .ts-control {
		line-height: 1.6;
		> input {
			font-size: 12px;
		}

		.clear-button {
			opacity: 1;
			font-size: 26px;
			top: 0;
			height: 100%;
			display: flex;
			align-items: center;

			&:hover {
				color: var(--danger);
			}
		}
	}

	.ts-wrapper.single .ts-control {
		border-width: var(--input-border-width) !important;
		border-color: var(--input-border-color) !important;
		border-radius: var(--input-border-radius);
		padding-left: var(--input-padding-x);
		height: var(--input-height);
		box-shadow: none;
	}

	.ts-wrapper.single .ts-control:after {
		margin-top: -2px;
	}

	.ts-dropdown.single {
		border-width: var(--input-border-width);
		border-top: solid 2px var(--input-border-color);
		border-radius: var(--input-border-radius);
		overflow: hidden;
	}
}
