@import '../../../../src/scss/mixins.scss';
@import '../../../../src/scss/plugins/choices.scss';

.ui-form-autocomplete {
	position: relative;

	.choices {
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);

		&[data-type*='select-one'] select.choices__input {
			display: block !important;
			opacity: 0;
			pointer-events: none;
			position: absolute;
			left: 0;
			bottom: 0;
		}

		&::after {
			right: var(--input-padding-x) !important;
		}

		&.is-focused {
			z-index: 99;
		}

		&.is-open.is-flipped {
			.choices__inner {
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
		}

		&.is-open:not(.is-flipped) {
			.choices__inner {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}
		}

		.choices__button {
			background-size: 12px !important;

			@include darkmode {
				filter: invert(1);
			}
		}

		.choices__item {
			line-height: 1;
		}

		.choices__inner {
			border-radius: var(--input-border-radius);
			background-color: var(--input-bg-color);
			border-color: var(--input-border-color);
			min-height: var(--input-height);
			padding-top: 0 !important;
			padding-bottom: 0 !important;
			display: flex;
			align-items: center;

			&:hover {
				background-color: var(--gray-100);
			}
		}

		.choices__list--dropdown,
		.choices__list[aria-expanded] {
			background-color: var(--bg-white);
			border-color: var(--input-border-color);
		}

		.choices__item > .choices__button {
			margin-right: 30px;
			margin-top: 0;
			height: 100%;
			top: 0;
		}
	}
}
