@import '../../../../src/scss/mixins.scss';

.select2-container {
	width: 100%;

	&.select2-container--default {
		&.select2-container--open {
			z-index: 888;

			.select2-selection--single {
				// background: linear-gradient(180deg, var(--gray-100), transparent);
				.select2-selection__arrow b {
					border-width: 0 5px 6px 5px;
				}
			}
		}

		.select2-results {
			.select2-results__option {
				padding: 10px 10px;
				line-height: 1.3;
			}

			.select2-results__option--highlighted {
				background: var(--dark);
			}
		}

		.select2-selection--single {
			@include form-control;

			.select2-selection__arrow {
				height: 100%;
				width: 48px;
				top: 0;
				@include select-arrow;

				b {
					display: none;
				}
			}

			.select2-selection__rendered {
				padding-left: 0;
				color: var(--body-color);
			}

			.select2-selection__clear {
				font-weight: normal;
				font-size: 31px;
				z-index: 99;
				color: var(--link-color);
				display: flex;
				z-index: 88;
				position: absolute;
				right: 20px;
				top: 50%;
				transform: translateY(-50%);

				span {
					display: flex;
					line-height: 1;
					transform: translateY(-6px);
				}

				&:hover {
					color: var(--danger);
				}
			}
		}
	}

	@include mobile {
	}

	@include darkmode {
		.select2-selection__arrow,
		.custom-select {
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23b1b9c9' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") !important;
		}
	}
}

.select2-dropdown {
	border: solid 1px var(--input-border-color);
	border-top: none;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
	background: var(--gray-100);

	.select2-search {
		.select2-search__field {
			border: solid 1px var(--border-color) !important;
			border-radius: 2px;
			background: var(--dark-200, white);
			color: var(--body-color);
			height: 32px;
			padding: 0 10px;

			&:focus {
				outline: none;
			}
		}
	}
}

.select2-results__option--selected {
	background-color: var(--gray-100);
}
