@import '../../../scss/mixins.scss';

a,
label {
	&.card {
		&:hover {
			border-color: var(--primary);
		}
	}
}

.ui-card {
	border-radius: var(--card-border-radius, 8px);
	display: flex;
	flex-direction: column;
	border: none;
	// margin-bottom: var(--grid-gutter-width);
	background: var(--card-bg);
	box-shadow: var(--shadow-card);

	+ .ui-card {
		margin-top: var(--grid-gutter-width);
	}

	.ui-stack & {
		margin: 0;
	}

	&.-primary {
		border-color: var(--primary);
	}

	&.-secondary {
		border-color: var(--secondary);
	}

	&.-warning {
		border-color: var(--warning);
	}

	&.-success {
		border-color: var(--success);
	}

	&.-full-height {
		height: 100%;

		.empty-data {
			height: 100%;
		}
	}

	&.-hide {
		padding-bottom: 0;
	}

	&.-last {
		margin-bottom: 0;
	}

	&.-no-padding {
		padding: 0;
		overflow: hidden;

		.ui-card-body {
			padding: 0;
			margin: 0;
		}
	}

	&.-gray {
		background: var(--gray-100);
		border-color: transparent;

		hr {
			background-color: var(--gray-200);
		}
	}

	&.-transparent {
		background: none;
	}

	&.-plain {
		box-shadow: none;
		border: solid var(--border-width) var(--border-color);

		.ui-card-footer {
			border-bottom-left-radius: calc(var(--card-border-radius, 8px) - 2px);
			border-bottom-right-radius: calc(var(--card-border-radius, 8px) - 2px);
		}
	}

	&.-image {
		.ui-card-body {
			&::after {
				height: 2px;
			}
		}

		.ui-card-header {
			padding: 0;
			overflow: hidden;

			img {
				position: relative;
			}
		}
	}

	&.-collapse {
		&.-hide {
			padding-bottom: 0;

			.ui-card-header {
				padding-bottom: var(--card-padding);
			}
		}

		.ui-card-header {
			cursor: pointer;

			&:hover {
				.btn-collapse-icon {
					color: var(--primary);
				}
			}
		}
	}

	&.-overflow {
		overflow: hidden;
	}

	img {
		max-width: 100%;
	}

	.ui-card-body {
		margin-top: var(--card-padding);
		flex-grow: 1;
		will-change: height;
		height: auto;
		padding: var(--card-padding);

		&:empty {
			display: none;
		}

		&:first-child {
			margin-top: 0;
		}

		> .form-group:last-child {
			margin-bottom: 0;
		}

		h6 {
			margin-bottom: 8px;
		}
	}

	.ui-card-item {
		margin-top: 20px;

		&:first-child {
			margin-top: 0;
		}
	}

	.ui-card-body .ui-card-section:first-child {
		padding-top: 0;
		border-top: none;
	}

	.ui-card-section {
		border-top: solid 1px var(--border-color);
		margin-left: calc(var(--card-padding) * -1);
		margin-right: calc(var(--card-padding) * -1);
		padding: var(--card-padding);

		&:last-child {
			padding-bottom: 0;
		}

		.ui-card-section-title {
			margin: 0;
			margin-right: auto;
		}

		.ui-card-section-header {
			display: flex;
			align-items: center;
			gap: 8px;

			+ .ui-card-section-content:not(:empty) {
				margin-top: 8px;
			}
		}
	}

	&.-loading {
		position: relative;
		overflow: hidden;

		&::before {
			content: '';
			background-color: rgba(0, 0, 0, 0.2);
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 8;
		}
	}

	.ui-card-loading {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 88;

		&:before {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			background-color: rgba(255, 255, 255, 0.2);
			content: '';
		}

		+ .ui-card-body {
			filter: blur(1px);
		}
	}

	hr {
		height: 1px;
		&:not(.hr-center) {
			margin-top: var(--card-padding);
			margin-bottom: var(--card-padding);
			margin-left: calc(var(--card-padding) * -1);
			margin-right: calc(var(--card-padding) * -1);
		}
	}

	.ui-card-header {
		position: relative;
		background: none;
		padding: var(--card-padding);

		h4 {
			margin: 0;
		}

		&:empty {
			+ .ui-card-body {
				margin-top: 0;
			}
		}

		> *:not(.title):not(.ui-card-caption):last-child {
			margin-left: auto;
		}

		+ .ui-card-body {
			padding-top: 0;
			margin-top: 0;
		}

		.ui-card-caption {
			display: block;
			margin-top: 4px;
			&:empty {
				display: none;
			}
		}

		.ui-button {
			line-height: 1.2;
		}

		.btn-link {
			padding-top: 0;
			padding-bottom: 0;
			min-height: auto;
			padding-right: 0;

			&:hover,
			&:focus {
				text-decoration: none;
			}
		}
	}

	.ui-card-header-content-button {
		margin-left: auto;
		flex-grow: 1;
		display: inline-flex;
		justify-content: flex-end;
		align-items: center;
		gap: 10px;
		min-height: 24px;

		.ui-button .ui-icon {
			font-size: 22px;
		}

		.ui-button.-link {
			margin-right: calc(var(--input-padding-x) * -1);
		}

		> button,
		> button:hover,
		> button:focus,
		> button:active {
			&::before {
				background: transparent !important;
			}
		}
	}

	.ui-card-header-content {
		display: flex;
		width: 100%;
		align-items: flex-start;
		gap: var(--grid-gutter-width);

		@include mobile {
			// flex-direction: column;
			// align-items: center;

			> .ui-card-header-content-button {
				margin: 0;
			}
		}

		> .ui-header-content-title {
			align-self: center;

			> .ui-card-title,
			> span:first-child {
				font-size: 16px;
				display: flex;
				line-height: 1.3;
				align-items: center;

				> .muted {
					font-weight: normal;
					margin-left: 5px;
				}

				i {
					font-size: 18px;
					margin-left: 5px;
				}
			}
		}
	}

	.ui-card-caption {
		font-size: var(--font-size-base);
		min-width: 100%;
		color: var(--text-muted);

		+ .ui-card-body {
			padding-top: 0;
		}
	}

	.ui-card-footer {
		border-top: solid 1px var(--gray-200);
		line-height: 1.2em;
		background: var(--gray-100);
		padding: var(--card-padding);
		border-bottom-left-radius: calc(var(--card-border-radius, 8px));
		border-bottom-right-radius: calc(var(--card-border-radius, 8px));
		display: flex;
		gap: 8px;

		&:empty {
			display: none;
		}
	}

	.btn-collapse {
		@include resetButton;
		cursor: pointer;
		height: auto;
		text-align: right;
		div {
			display: flex;
		}
	}

	.ui-card-loader {
		position: absolute;
		top: 0;
		background: rgba(#fff, 0.8);
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 88;
		border-radius: var(--card-border-radius, 8px);

		span {
			width: 40px;
			height: 40px;
			opacity: 0.5;
		}
	}

	@include mobile {
	}

	@include darkmode {
		hr {
			background-color: var(--dark-100);
		}

		.ui-card-header-content > .muted {
			opacity: 0.8;
			font-size: 14px;
		}
	}
}

.ui-card-image-drop {
	position: relative;
	z-index: 2;

	.body-dragover & {
		background: hsl(var(--success), 45%);

		&::after {
			border: dashed 2px var(--success);
			content: 'Arraste e solte aqui';
			font-size: 18px;
			position: absolute;
			display: flex;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: #fff;
			z-index: 88;
			align-items: center;
			justify-content: center;
			opacity: 0.9;
			color: var(--success);
		}
	}

	.loader-fill {
		border: var(--card-border-radius, 8px);
	}
}
