@import '../../../scss/mixins.scss';

.apexcharts-canvas {
	.apexcharts-tooltip {
		&.apexcharts-theme-dark {
			padding: 10px;

			.apexcharts-tooltip-title {
				background: var(--body-bg) !important;
				background: none !important;
				border: none !important;
				font-weight: 600;
				padding: 5px 10px;
				margin-bottom: 0;
			}

			.apexcharts-tooltip-series-group.apexcharts-active,
			.apexcharts-tooltip-series-group:last-child {
				padding-bottom: 0;
			}

			.apexcharts-tooltip-marker {
				width: 20px;
				height: 10px;
				border-radius: 4px;
			}
		}
	}

	.apexcharts-legend-marker {
		width: 20px !important;
		height: 8px !important;
		margin-right: 10px !important;
	}

	.apexcharts-legend-series {
		display: inline-flex !important;
		align-items: center !important;
	}

	.apexcharts-text {
		fill: var(--body-color);
	}

	.apexcharts-xaxis line,
	.apexcharts-xaxis-tick {
		stroke: var(--border-color);
	}

	@include darkmode {
		.apexcharts-gridline {
			stroke: var(--border-color);
		}
	}
}
