@import '../../../../scss/mixins.scss';

.table-list-nav {
	position: sticky;
	top: 0;
	z-index: var(--s-index-low);

	.table-list-nav-wrapper {
		z-index: var(--s-index-low);
		border-bottom: solid 1px var(--s-color-border-highlight);
	}

	.table-list-nav-content {
		position: relative;
		flex-wrap: nowrap;
		display: flex;
		background: var(--s-color-fill-default);
		z-index: var(--s-index-low);
		align-items: center;
		height: 80px;
		padding: var(--s-spacing-x-small);
		gap: var(--s-spacing-nano);
		border-top: var(--s-border-light);
	}

	@include mobile {
		position: relative;
		top: 0;

		.table-list-nav-content {
			height: var(--s-spacing-huge);
			overflow-x: auto;
		}
	}
}

.table-list-nav-item {
	.table-search-input {
		position: relative;
		margin: 0;
		min-width: 180px;

		> .box-icon {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: var(--s-index-low);
			left: var(--s-spacing-xx-small);
			display: flex;
			opacity: 0.6;

			&.-clear {
				cursor: pointer;
				left: auto;
				right: var(--s-spacing-xx-small);

				&:hover {
					.ui-icon {
						color: var(--s-color-content-critical);
					}
				}
			}
		}

		> .form-control {
			padding-left: var(--s-spacing-medium);
			min-height: var(--s-spacing-medium);
		}
	}
}
