:root {
	--primary: #1b7bc0;
	--secondary: #ffc200;
	--critical: #d04650;
	--warning: #f4a227;
	--success: #017b64;
	--highlight: #2270b7;

	/* background colors */
	--background-default: #f5f7fa;
	--background-hovered: #ffffff;
	--background-disable: #cfd2d7;
	--background-overlay: #00000080;

	/* surface colors */
	--surface-default: #ffffff;
	--surface-hovered: #f6f9fb;
	--surface-disable: #e5eaef;
	--surface-neutral: #f6f9fb;
	--surface-primary: #f5faff;
	--surface-warning: #fff4e1;
	--surface-critical: #ffe0de;
	--surface-success: #e8efed;
	--surface-highlight: #dff2ff;

	/* text colors */
	--text-default: #343a40;
	--text-secondary: #6d747a;
	--text-disable: #c5cacf;
	--text-primary: #1a76b9;
	--text-critical: #c72732;
	--text-warning: #9a661b;
	--text-success: #017b64;
	--text-highlight: #2270b7;
	--text-neutral: #2e2f30;
	--text-on: #ffffff;
	--text-off: #ffffff80;

	/* icon colors */
	--icon-default: #343a40;
	--icon-secondary: #6d747a;
	--icon-disable: #c5cacf;
	--icon-primary: #1a76b9;
	--icon-critical: #c72732;
	--icon-warning: #9a661b;
	--icon-success: #017b64;
	--icon-highlight: #2270b7;
	--icon-neutral: #2e2f30;
	--icon-on: #ffffff;
	--icon-off: #ffffff80;

	/* action colors */
	--action-neutral: #546b8a;
	--action-neutral-hovered: #627897;
	--action-primary: #1b7bc0;
	--action-primary-hovered: #378bd7;
	--action-success: #017b64;
	--action-success-hovered: #0e8e76;
	--action-critical: #d04650;
	--action-critical-hovered: #da4d57;

	/* border colors */
	--border-default: #dee2e6;
	--border-disable: #d3dce3;
	--border-primary: #1b7bc0;
	--border-critical: #c72732;
	--border-warning: #9a661b;
	--border-success: #017b64;
	--border-highlight: #2270b7;

	/* decorative colors */
	--decorative-one: #91cfe5;
	--decorative-two: #ffcf55;
	--decorative-three: #ffb7d4;
	--decorative-four: #a48ee2;
	--decorative-five: #79bd9b;
	--decorative-six: #979ca2;

	[data-theme='dark'] {
		/* background colors */
		--background-default: #27273b;
		--background-hovered: #1d1a2b;
		--background-disable: #313142;
		--background-overlay: #15191fcc;

		/* surface colors */
		--surface-default: #1d1a2b;
		--surface-hovered: #24283e;
		--surface-disable: #394050;
		--surface-neutral: #262c39;
		--surface-primary: #172c38;
		--surface-warning: #2a2323;
		--surface-critical: #2d0f09;
		--surface-success: #09262d;
		--surface-highlight: #0d263c;

		/* text colors */
		--text-default: #b0b9c9;
		--text-secondary: #8c8f9a;
		--text-disable: #525572;
		--text-primary: #5e93ca;
		--text-critical: #ff8e99;
		--text-warning: #f4a227;
		--text-success: #29c3a7;
		--text-highlight: #55b6ff;

		/* icon colors */
		--icon-default: #b0b9c9;
		--icon-secondary: #8c8f9a;
		--icon-disable: #525572;
		--icon-primary: #5e93ca;
		--icon-critical: #ff8e99;
		--icon-warning: #f4a227;
		--icon-success: #29c3a7;
		--icon-highlight: #55b6ff;

		/* border colors */
		--border-default: #525572;
		--border-disable: #424c5b;
		--border-primary: #5e93ca;
		--border-critical: #ff8e99;
		--border-warning: #f4a227;
		--border-success: #29c3a7;
		--border-highlight: #55b6ff;
	}
}
