::placeholder {
	color: var(--s-color-content-placeholder);
}

@include theme-dark {
	::placeholder {
		color: var(--s-color-content-dark-placeholder);
	}
}

.form-control-loader {
	position: absolute;
	right: var(--s-spacing-x-small);
	height: 100%;
	display: flex;
	align-items: center;
	top: 0;
}

.invalid-feedback {
	color: var(--s-color-content-critical);
	padding: var(--s-spacing-quark);
	font: var(--s-typography-caption-small);
}

.form-control-label {
	text-align: left;
	margin-bottom: var(--s-spacing-quark);
	display: inline-block;
	font: var(--s-typography-label-medium);
	color: var(--s-color-content-default);

	@include darkmode {
		color: var(--s-color-content-dark);
	}
}

textarea {
	&.form-control {
		padding-top: var(--s-spacing-x-small);
	}
}

.form-control {
	@include form-control;
	display: inline-flex;
	justify-content: space-between;

	&.-pill {
		border-radius: var(--s-border-radius-pill);
		padding-inline-start: var(--s-spacing-x-small);
		padding-inline-end: var(--s-spacing-x-small);
	}

	&.-invalid {
		color: var(--s-color-fill-critical);
	}

	@include darkmode {
		color: var(--s-color-content-dark);
		caret-color: var(--s-color-content-dark);

		&:focus {
			border-color: var(--s-color-border-dark-highlight);
			box-shadow: none;
		}
	}
}

.form-control.-select {
	padding-right: var(--s-spacing-x-large);
	@include select-arrow;
}
