::placeholder {
	color: var(--input-placeholder-color);
}

// input:-webkit-autofill {
//   -webkit-text-fill-color: yellow !important;
//   -webkit-box-shadow: 0 0 0px 1000px #000 inset;
// }

@include theme-dark {
	::placeholder {
		color: rgba(#b1b9c9, 0.4) !important;
	}
}

.form-control-loader {
	position: absolute;
	right: var(--input-padding-x);
	height: 100%;
	display: flex;
	align-items: center;
	top: 0;

	> .form-control-loader-spinner {
		width: calc(var(--input-height) * 0.4) !important;
		height: calc(var(--input-height) * 0.4) !important;
	}
}

.invalid-feedback {
	color: var(--danger);
	padding: 5px;
	font-size: 10px;
}

.form-control-label {
	text-align: left;
	margin-bottom: 5px;
	display: inline-block;
}

textarea {
	&.form-control {
		padding-top: var(--input-padding-x);
	}
}

.form-control {
	@include form-control;
	display: inline-flex;
	justify-content: space-between;

	&.-pill {
		border-radius: 30px;
		padding-inline-start: 15px;
		padding-inline-end: 15px;
	}

	@include darkmode {
		color: var(--body-color);
		caret-color: var(--body-color);

		&:focus {
			border-color: var(--body-color);
			box-shadow: none;
		}
	}
}

.form-control.-select {
	padding-right: 40px;
	@include select-arrow;
}
