:root {
	--shadow-base-one: none;
	--shadow-base-two: 0px 0px 2px 0px #00000226;
	--shadow-card: 0px 0px 15px 0px #00000026;
	--shadow-modal: 0px 40px 50px 0px #00000026;
	--shadow-light-navbar: 0px -1px 8px 0px #4b678026;
	--shadow-dark-navbar: 0px -1px 8px 0px #00000066;
}
