:root {
	--spacing-xxxs: 4px;
	--spacing-xxs: 8px;
	--spacing-xs: 16px;
	--spacing-s: 20px;
	--spacing-md: 24px;
	--spacing-lg: 32px;
	--spacing-xlg: 40px;
	--spacing-xxlg: 64px;
	--spacing-xxxlg: 80px;
}
