:root {
	--spacing-xxxs: 4px;
	--spacing-xxs: 8px;
	--spacing-xs: 12px;
	--spacing-sm: 16px;
	--spacing-md: 20px;
	--spacing-lg: 24px;
	--spacing-xlg: 32px;
	--spacing-xxlg: 40px;
	--spacing-xxxlg: 64px;
}
