$body-color: #1f2435 !default;
$danger: #f25d5d !default;
$primary: #3b9be0 !default;
$secondary: #ffc200 !default;
$success: #019b7f !default;
$warning: #fff5d4 !default;
$dark: #4e6380 !default;

:root {
	// --primary: #275efe;
	--primary: #{$primary};
	--primary-light: #{lighten($primary, 8%)};
	--primary-dark: #{darken($primary, 5%)};
	--secondary: #{$secondary};
	--success: #{$success};
	--success-light: #{lighten($success, 15%)};
	--success-dark: #{darken($success, 20%)};
	--danger: #{$danger};
	--link-color: var(--primary);
	--dark: #{$dark};
	--dark-hover: #{darken($dark, 20%)};
	--border-width: 2px;
	--light: #f6f9fb;

	--warning: #{$warning};
	--info: #3dadf1;
	--featured: #9747c3;

	--body-bg: #f5f7fa;
	--body-color: #{$body-color};
	--bg-white: #fff;

	--border-radius: 6px;

	--card-padding: 25px;
	--font-size-base: 14px;

	--gray-100: #f6f9fb;
	--gray-200: #e5eaef;
	--gray-300: #{darken(#e5eaef, 15)};
	--border-color: #e5eaef;
	--card-sparcer-x: 30px;

	--input-height: 38px;
	--input-height-sm: 30px;
	--input-height-lg: 50px;
	--input-border-color: #aeb4b9;
	--input-border-focus-color: var(--primary);
	--input-border-focus-width: 2px;
	--input-placeholder-color: #828282;
	--input-padding-x: 14px;
	--input-padding-x-sm: 12px;
	--input-padding-y-sm: 10px;
	--input-padding-x-lg: 20px;
	--input-border-radius: 4px;
	--input-border-radius-sm: 4px;
	--input-border-width: 1px;
	--input-bg-color: white;
	--form-check-height: 18px;
	--form-check-border-width: 2px;
	--form-check-border-radius: 4px;
	--form-group-margin-bottom: 15px;

	--modal-backdrop-opacity: 0.8;
	--modal-backdrop-bg: #536d73;
	--modal-padding-x: 30px;

	--text-muted: #{rgba($body-color, 0.7)};
	--font-headings-weight: 700;
	--font-family: -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;

	--card-border-radius: 6px;
	--grid-gutter-width: 25px;
	--font-weight-nomal: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;

	--layout-content-padding-x: 40px;
	--container-max-width: 1200px;
	--tab-height: 44px;

	--alert-border-radius: 4px;
	--layout-sidebar-width: 244px;
	--layout-navbar-height: 65px;
	--shadow-card: 0 1px 10px rgba(23, 24, 24, 0.03), 0 0 2px rgba(0, 0, 0, 0.25);
	--shadow-button: 0 0 2px rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.2);

	@include mobile {
		--layout-content-padding-x: 10px;
		--layout-sidebar-width: 300px;
		--modal-padding-x: 20px;
		--card-padding: 16px;
	}
}

[data-theme='dark'] {
	--body-color: #b1b9c9;
	--body-bg: var(--dark-300);
	// --dark-100: #3a4656;
	// --dark-200: #333c49;
	// --dark-300: #2f3845;
	// --bg-white: #333c49;
	// --border-color: #3a4656;

	--dark-100: #3a4c63;
	--dark-200: #262c3a;
	--dark-300: #1c1e2a;
	--bg-white: #262c3a;
	--border-color: #3a4c63;
	--border-shadow: #aeb4b9;

	--text-muted: #{transparentize(#b1b9c9, 0.2)};
	--gray-100: #3a4656;
	--gray-200: #{darken(#3a4656, 4)};
	--gray-300: #{darken(#3a4656, 6)};
	--text-muted: #{transparentize(#b1b9c9, 0.2)};
	--modal-backdrop-bg: #15191f;
	--input-border-color: var(--dark-100);
	--input-bg-color: var(--dark-300);
}
