@import '../../../scss/mixins.scss';

.ui-userbar {
	background-color: var(--body-bg);
	height: 100%;
	border-bottom: solid 1px var(--border-color);

	.ui-userbar-wrapper {
		padding: 0 var(--layout-content-padding-x);
		height: var(--layout-navbar-height);
		flex-grow: 1;
		display: flex;
		align-items: center;
		gap: 10px;
	}

	.ui-userbar-content {
		flex-grow: 1;
	}

	.ui-userbar-actions {
		display: flex;
		gap: inherit;

		button {
			border: none;
			box-shadow: none;
		}
	}

	.ui-userbar-link {
		display: inline-flex;
		padding: 0 10px;
		color: var(--text-muted);
	}

	.ui-userbar-notification-button {
		position: relative;
		&.-new:after,
		&.-new:before {
			content: '';
			width: 10px;
			height: 10px;
			display: block;
			background: var(--danger);
			border-radius: 100%;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-top: -10px;
			margin-left: 6px;
			z-index: 8;
		}

		// &.-new:before {
		// 	animation: radar 1.4s infinite ease-in-out;
		// }

		// &.-new:hover {
		// 	background: var(--gray-200);
		// }
	}

	.btn-back {
		color: var(--primary);
		font-weight: 700;

		> a > .ui-icon {
			color: var(--secondary);
			margin-right: 4px;
			margin-left: -3px;
		}
	}

	.ui-userbar-btn {
		display: flex;
		align-items: center;

		.ui-userbar-btn-wrapper {
			display: flex;
			align-items: center;
			position: relative;
			cursor: pointer;
			padding: 8px 10px;
			border-radius: 6px;

			&:hover {
				background: var(--gray-200);
			}
		}

		.ui-userbar-btn-avatar {
			min-width: var(--input-height);
			min-height: var(--input-height);
			align-items: center;
			justify-content: center;
			border-radius: 100%;
			overflow: hidden;
			border: solid 2px var(--primary);
			display: inline-flex;
			font-weight: 600;
			text-align: center;
			color: var(--body-color);
			text-transform: uppercase;
			position: relative;

			&::after {
				content: '';
				border: solid 3px #fff;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 8;
				border-radius: 100%;
			}

			img {
				max-width: 100%;
				padding: 2px;
			}
		}

		.ui-userbar-btn-info {
			line-height: 1.2;
			margin-left: 10px;
			text-align: left;

			.name {
				display: block;
				font-weight: bold;
			}
		}
	}

	.ui-userbar-mobile {
		display: none;
		img {
			margin-left: 10px;
		}

		> .ui-userbar-menu {
			padding: 0;
			background: none;
			border: none;
			appearance: none;
			width: 64px;
			height: 70px;
			color: var(--primary);
			text-align: left;
			margin-left: -20px;
			display: flex;
			align-items: center;
			justify-content: center;

			> .ui-icon {
				font-size: 32px;
			}

			&:focus {
				outline: none;
			}
		}
	}

	@include mobile() {
		margin-bottom: 0;
		position: static;
		border-bottom: solid 1px var(--border-color);

		&:after {
			visibility: hidden;
		}

		.ui-userbar-mobile {
			display: flex;
		}

		.ui-breadcrumb {
			display: none;
		}

		.ui-userbar-btn {
			margin-right: -10px;

			.ui-userbar-btn-info {
				display: none;
			}
		}
	}

	@include darkmode {
		.ui-userbar-btn .ui-userbar-btn-wrapper:hover {
			background: var(--dark-100);
		}

		.ui-userbar-btn-wrapper {
			color: var(--body-color);
		}

		.ui-userbar-btn-avatar {
			background-color: var(--dark-100);
		}

		.ui-userbar-btn .ui-userbar-btn-avatar::after {
			border-color: var(--dark-300);
		}
	}
}

@keyframes radar {
	from {
		transform: scale(1);
		opacity: 0.8;
	}

	to {
		transform: scale(3);
		opacity: 0;
	}
}
