@import '../../../scss/mixins.scss';

.ui-form-datepicker {
	&.-range {
		input {
			min-width: 180px;
		}
	}

	.btn-remove {
		margin-right: var(--s-spacing-x-large);
	}

	@include mobile {
		.easepick-wrapper {
			position: unset !important;
		}
	}
}
