.ui-tab {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-bottom: solid 1px var(--border-color);
	height: var(--tab-height);
	overflow: auto;
}

.ui-tab::-webkit-scrollbar {
	display: none;
}
