.ui-tab-item {
	-webkit-appearance: none;
	background: none;
	border: none;
	box-sizing: border-box;
	box-shadow: none;
	cursor: pointer;
	margin: 0;
	outline: none;
	text-align: center;
	white-space: nowrap;
	z-index: 1;
	height: 100%;
	font-weight: 500;
	padding: 5px;
	color: inherit;

	.ui-tab-item-content {
		justify-content: center;
		align-items: center;
		display: flex;
		padding: 0 24px;
		position: relative;
		height: 100%;
		margin-bottom: -1px;

		&::after {
			content: '';
			height: 3px;
			background: transparent;
			width: 100%;
			position: absolute;
			bottom: -5px;
			display: block;
			left: 0;
			transition: height 0.2s;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		}
	}

	&:hover:not(.-active) {
		.ui-tab-item-content:after {
			background: var(--gray-300);
		}
	}

	&.-active {
		color: var(--primary);
		.ui-tab-item-content:after {
			background-color: var(--primary);
		}
	}
}
