@mixin move-horizontal($value, $time, $selector, $when) {
	#{$selector} {
		transition: transform $time ease-out;
	}

	@each $whenSelect in $when {
		#{$whenSelect $selector} {
			transition: transform $time ease-in;
			transform: translateX($value);
		}
	}
}
