@import '../../../scss/mixins.scss';

.page-message-support {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: auto;
	padding-top: 40px;
	gap: 10px;

	> .icon {
		font-size: 18px;
	}

	.page-message-support-link {
		a {
			text-transform: lowercase;
		}
	}

	@include mobile {
		margin: auto 0 64px 0;
	}
}
