@import '../../../scss/mixins.scss';
@import '../../../scss/animations/animation.scss';

.ui-sidebar {
	--sidebar-padding-left: 30px;
	--sidebar-line-width: 5px;

	position: fixed;
	top: 0;
	z-index: 888;
	height: 100%;

	> .ui-sidebar-wrapper {
		border-right: solid 1px var(--border-color);
		min-width: var(--layout-sidebar-width);
		max-width: var(--layout-sidebar-width);
		z-index: 900;
		display: flex;
		flex-direction: column;
		position: sticky;
		top: 0;
		height: 100%;
		overflow: hidden;
		background: var(--body-bg);

		> .ui-sidebar-container {
			display: flex;
			flex-grow: 1;
			height: 100%;

			&::after {
				content: '';
				left: 0;
				width: var(--sidebar-line-width);
				background: var(--primary);
				position: absolute;
				top: 0;
				bottom: 0;
			}

			&.-submenu-open {
				&::after {
					transform: translateX(-100%);
				}
			}

			> .ui-sidebar-content {
				display: flex;
				flex-direction: column;
				height: 100%;
				overflow-y: auto;
				overflow-x: hidden;
				flex-grow: 1;
				// transition: transform 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
				// will-change: transform;

				&.-hide {
					transform: translateX(-100%);
				}
			}
		}
	}

	&.-disabled {
		opacity: 0.4;
		pointer-events: none;

		&:after {
			pointer-events: none;
			position: absolute;
			content: '';
			background: transparent;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
		}
	}

	body.is-editing & {
		.ui-sidebar-sub::after,
		.ui-sidebar-content::after {
			background: var(--success);
		}
	}

	.ui-sidebar-nav {
		padding: 20px 0;
		margin-bottom: 10px;
		display: flex;
		align-items: center;
		padding-left: var(--sidebar-padding-left);
		gap: 8px;
	}

	.ui-sidebar-list {
		display: flex;
		flex-grow: 1;
		padding-bottom: 12px;

		> .ui-sidebar-list {
			padding: 0;
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			padding-left: var(--sidebar-line-width);
		}
	}

	.ui-sidebar-item {
		list-style: none;
		user-select: none;
		margin: 0;

		&.-spacer-last {
			margin-top: auto;
		}

		&.-spacer {
			margin-top: 24px;
		}

		&.-spacer-flex {
			flex-grow: 1;
		}
	}

	.-disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	.ui-sidebar-link {
		line-height: 1;
		color: var(--body-color);
		font-weight: 700;
		font-size: 14px;
		display: flex;
		cursor: pointer;
		position: relative;
		align-items: center;
		justify-content: space-between;
		margin: 0 10px;
		border-radius: 4px;
		padding: 0 15px;
		text-decoration: none;

		&-caption {
			margin: 0 10px;
			padding: 4px 15px;
			font-weight: 590;
			text-transform: uppercase;
			font-size: 12px;
			color: var(--text-muted);
			opacity: 0.9;
		}

		&.-sub {
			font-weight: 500;
			height: 30px;
			justify-content: flex-start;
		}

		transition: background-color 0.5s;
		&:hover {
			background-color: #e5eaef60;
		}

		&:hover,
		&.-active {
			:not(.-sub) .ui-sidebar-link-text {
				transform: translateX(15px);
			}
			.ui-sidebar-link-right-icons {
				.news-indicator {
					transform: translateX(-20px);
				}
			}
			.icon-arrow {
				opacity: 1;
			}
		}

		.icon-arrow {
			@include fade-in-out(var(--s-motion-duration-default));
			opacity: 0;
		}

		&.-active,
		&.-node-active {
			.icon-arrow {
				transform: rotate(180deg);
			}
			~ .ui-sidebar-sublist {
				max-height: 1000px;
				opacity: 1;
			}
		}

		.ui-sidebar-link-right-icons {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			.news-indicator {
				position: absolute;
				top: 0;
				@include move-horizontal(var(--s-motion-duration-default));
			}
		}

		.ui-sidebar-link-text {
			display: inline-flex;
			border-radius: 4px;
			padding: 10px 0;
			align-items: center;
			position: relative;
			z-index: 2;
			@include move-horizontal(var(--s-motion-duration-default));
		}

		.ui-sidebar-link-icon {
			width: 25px;
			display: flex;
			align-items: center;
			margin-right: 5px;
		}

		.ui-icon {
			font-size: 16px;
		}
	}

	.ui-sidebar-sublist {
		@include menu-animation(var(--s-motion-duration-default), var(--s-motion-duration-moderate));
		padding: 0;
		margin-bottom: 8px;
		max-height: 0;
		opacity: 0;
		overflow: hidden;

		.ui-sidebar-item {
			list-style: none;
		}

		.ui-sidebar-link {
			font-weight: 500;

			color: var(--text-muted);
		}
	}

	@include mobile() {
		z-index: 999;

		.ui-close-sidebar {
			position: fixed;
			text-align: end;
			display: none;
			top: 30px;
			left: 0;
			right: 30px;
			bottom: 0;
			z-index: 600;

			.is-menu-open & {
				display: block;
			}
		}

		.ui-sidebar-overlay {
			background: var(--modal-backdrop-bg);
			opacity: var(--modal-backdrop-opacity);
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 600;
			display: none;

			.is-menu-open & {
				display: block;
			}
		}

		.ui-sidebar-wrapper {
			transition: transform 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
			position: absolute;
			transform: translateX(-100%);
			z-index: 889;

			.is-menu-open & {
				transform: translateX(0);
			}
		}

		.ui-sidebar-nav {
			padding: 20px auto;
		}
	}

	@include darkmode {
		.ui-sidebar-link {
			&:hover:not(.-active) {
				background-color: var(--dark-300);
			}
		}
	}
}
