@import '../../../scss/mixins.scss';

.ui-sidebar {
	--sidebar-padding-left: 30px;
	--sidebar-line-width: 5px;

	position: sticky;
	top: 0;
	z-index: 888;
	height: 100vh;

	> .ui-sidebar-wrapper {
		border-right: solid 1px var(--border-color);
		min-width: var(--layout-sidebar-width);
		max-width: var(--layout-sidebar-width);
		z-index: 888;
		display: flex;
		flex-direction: column;
		position: sticky;
		top: 0;
		height: 100%;
		overflow: hidden;
		background: var(--dark-200);

		> .ui-sidebar-container {
			display: flex;
			flex-grow: 1;
			height: 100%;

			&::after {
				content: '';
				left: 0;
				width: var(--sidebar-line-width);
				background: var(--primary);
				position: absolute;
				top: 0;
				bottom: 0;
			}

			&.-submenu-open {
				&::after {
					transform: translateX(-100%);
				}
			}

			> .ui-sidebar-content {
				display: flex;
				flex-direction: column;
				height: 100%;
				overflow-y: auto;
				overflow-x: hidden;
				flex-grow: 1;
				// transition: transform 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
				// will-change: transform;

				&.-hide {
					transform: translateX(-100%);
				}
			}
		}
	}

	&.-disabled {
		opacity: 0.4;
		pointer-events: none;

		&:after {
			pointer-events: none;
			position: absolute;
			content: '';
			background: transparent;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
		}
	}

	body.is-editing & {
		.ui-sidebar-sub::after,
		.ui-sidebar-content::after {
			background: var(--success);
		}
	}

	.ui-sidebar-overlay {
		background: var(--modal-backdrop-bg);
		opacity: var(--modal-backdrop-opacity);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 888;
		display: none;

		.is-menu-open & {
			display: block;
		}
	}

	.ui-sidebar-nav {
		padding: 20px 0;
		margin-bottom: 10px;
		display: flex;
		align-items: center;
		padding-left: var(--sidebar-padding-left);
		gap: 8px;
	}

	.ui-sidebar-items {
		display: flex;
		flex-grow: 1;

		> .ui-sidebar-list {
			padding: 0;
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			padding-left: var(--sidebar-line-width);
		}
	}

	.ui-sidebar-item {
		list-style: none;
		user-select: none;
		margin: 0;

		&.-spacer-last {
			margin-top: auto;
		}

		&.-spacer {
			margin-top: 30px;
		}

		&.-spacer-flex {
			flex-grow: 1;
		}
	}

	.ui-sidebar-link {
		line-height: 1;
		color: var(--body-color);
		font-weight: 700;
		font-size: 14px;
		display: flex;
		cursor: pointer;
		position: relative;
		height: 32px;
		align-items: center;
		margin: 0 10px;
		border-radius: 4px;
		padding: 0 15px;
		text-decoration: none;

		&.-sub {
			font-weight: 500;
			height: 30px;
		}

		&:hover {
			background-color: #e5eaef60;
		}

		&.-active:not(.-child-active) {
			background-color: var(--dark-100, var(--gray-200));
		}

		&.-active,
		&.-open {
			.ui-icon {
				color: var(--primary);
			}
			~ .ui-sidebar-sublist {
				display: block;
			}
		}

		.ui-sidebar-link-text {
			display: inline-flex;
			border-radius: 4px;
			padding: 10px 0;
			align-items: center;
			position: relative;
			z-index: 2;
		}

		.ui-sidebar-link-icon {
			width: 25px;
			display: flex;
			align-items: center;
		}

		.ui-icon {
			font-size: 16px;
		}
	}

	.ui-sidebar-sublist {
		padding: 0;
		margin-bottom: 8px;
		display: none;

		.ui-sidebar-item {
			list-style: none;
		}

		.ui-sidebar-link {
			font-weight: 500;

			color: var(--text-muted);
		}
	}

	@include mobile() {
		z-index: 999;

		.ui-sidebar-wrapper {
			transition: transform 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
			position: absolute;
			transform: translateX(-100%);
			z-index: 889;

			.is-menu-open & {
				transform: translateX(0);
			}
		}

		.ui-sidebar-nav {
			padding: 20px auto;
		}
	}

	@include mobile {
		.ui-sidebar-wrapper {
			background-color: white;
		}
	}

	@include darkmode {
		.ui-sidebar-wrapper {
			background: none;
		}

		.ui-sidebar-link {
			&:hover:not(.-active) {
				background-color: var(--dark-300);
			}
		}
	}
}
