@import '../../../scss/mixins.scss';
@import '../../../scss/animations/animation.scss';

.ui-sidebar {
	position: fixed;
	top: 0;
	z-index: var(--s-index-very-high);
	height: 100%;

	> .ui-sidebar-wrapper {
		min-width: var(--layout-sidebar-width);
		max-width: var(--layout-sidebar-width);
		display: flex;
		flex-direction: column;
		position: sticky;
		top: 0;
		height: 100%;
		overflow: hidden;
		background: var(--s-color-fill-default);

		> .ui-sidebar-container {
			display: flex;
			flex-grow: 1;
			height: 100%;

			&::after {
				content: '';
				left: 0;
				width: var(--s-spacing-quark);
				background: var(--s-color-content-highlight);
				position: absolute;
				top: 0;
				bottom: 0;
			}

			&.-submenu-open {
				&::after {
					transform: translateX(-100%);
				}
			}

			> .ui-sidebar-content {
				display: flex;
				flex-direction: column;
				height: 100%;
				overflow-y: auto;
				overflow-x: hidden;
				flex-grow: 1;

				&.-hide {
					transform: translateX(-100%);
				}
			}
		}
	}

	&.-disabled {
		opacity: 0.4;
		pointer-events: none;

		&:after {
			pointer-events: none;
			position: absolute;
			content: '';
			background: transparent;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
		}
	}

	&-logo {
		width: 100%;
	}

	.ui-sidebar-nav {
		padding: var(--s-spacing-small);
		display: flex;
		align-items: center;
		padding-left: var(--s-spacing-medium);
		gap: var(--s-spacing-nano);
	}

	.ui-sidebar-list {
		display: flex;
		flex-grow: 1;
		overflow: hidden;
		padding-bottom: var(--s-spacing-xx-small);

		> .ui-sidebar-list {
			padding: 0;
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			padding-left: var(--s-spacing-quark);
		}
	}

	.ui-sidebar-footer {
		box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.08);
	}

	.ui-sidebar-item {
		list-style: none;
		user-select: none;
		margin: 0;

		&.-spacer-last {
			margin-top: auto;
		}

		&.-spacer {
			margin-top: var(--s-spacing-small);
		}

		&.-spacer-flex {
			flex-grow: 1;
		}
	}

	.-disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	.ui-sidebar-link {
		line-height: 1;
		color: var(--s-color-content-default);
		font-weight: 700;
		font-size: 14px;
		display: flex;
		cursor: pointer;
		position: relative;
		align-items: center;
		justify-content: space-between;
		margin: 0 var(--s-spacing-xx-small);
		border-radius: var(--s-border-radius-small);
		padding: 0 var(--s-spacing-x-small);
		text-decoration: none;
		height: var(--s-spacing-medium);

		&-caption {
			margin: 0 var(--s-spacing-xx-small);
			font: var(--s-typography-caption-large);
			color: var(--s-color-content-light);
			text-transform: uppercase;
			padding: var(--s-spacing-quark) var(--s-spacing-x-small);
		}

		&.-sub {
			font-weight: var(--s-font-weight-medium);
			height: var(--s-spacing-medium);
			justify-content: flex-start;
			.ui-sidebar-link-icon {
				@include fade-in-out(var(--s-motion-duration-default));
				opacity: 0;
			}
		}

		transition: background-color var(--s-motion-duration-default);
		&:hover {
			background-color: var(--s-color-fill-default-hover);
			&.-sub {
				.ui-sidebar-link-icon {
					opacity: 1;
				}
			}
		}

		&:hover,
		&.-active {
			&.-sub {
				color: var(--s-color-content-highlight);
			}
			.ui-sidebar-link-right-icons {
				.news-indicator {
					transform: translate(-30px, -50%);
				}
			}
			.icon-arrow {
				opacity: 1;
			}
		}

		.icon-arrow {
			@include fade-in-out(var(--s-motion-duration-default));
			opacity: 0;
		}

		&.-active,
		&.-node-active {
			.icon-arrow {
				transform: rotate(180deg);
			}
			~ .ui-sidebar-sublist {
				max-height: 1000px;
				opacity: 1;
			}
		}

		&-right-icons {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			.news-indicator {
				@include move-horizontal(var(--s-motion-duration-default));
				position: absolute;
				top: 50%;
				transform: translate(0, -50%);
			}
		}

		&-text {
			display: inline-flex;
			border-radius: var(--s-border-radius-small);
			padding: var(--s-spacing-quark) 0;
			align-items: center;
			position: relative;
			z-index: var(--s-index-low);
			@include move-horizontal(var(--s-motion-duration-default));
		}

		&-icon {
			width: 25px;
			display: flex;
			align-items: center;
			margin-right: var(--s-spacing-quark);
		}
	}

	.ui-sidebar-sublist {
		@include menu-animation(var(--s-motion-duration-default), var(--s-motion-duration-moderate));
		padding: 0;
		max-height: 0;
		opacity: 0;
		overflow: hidden;

		.ui-sidebar-item {
			list-style: none;
		}

		.ui-sidebar-link {
			font: var(--s-font-weight-medium);
			color: var(--s-color-content-light);
		}
	}

	@include mobile() {
		z-index: 999;

		.ui-close-sidebar {
			position: fixed;
			text-align: end;
			display: none;
			top: 30px;
			left: 0;
			right: 30px;
			bottom: 0;
			z-index: 600;

			.is-menu-open & {
				display: block;
			}
		}

		.ui-sidebar-overlay {
			background: var(--modal-backdrop-bg);
			opacity: var(--modal-backdrop-opacity);
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 600;
			display: none;

			.is-menu-open & {
				display: block;
			}
		}

		.ui-sidebar-wrapper {
			transition: transform 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
			position: absolute;
			transform: translateX(-100%);
			z-index: 889;

			.is-menu-open & {
				transform: translateX(0);
			}
		}

		.ui-sidebar-nav {
			padding: 20px auto;
		}
	}

	@include darkmode {
		.ui-sidebar-wrapper {
			background-color: var(--s-color-fill-dark);
		}
		.ui-sidebar-link {
			color: var(--s-color-content-dark);
			&:hover {
				background-color: var(--s-color-fill-dark-hover);
				&.-sub {
					color: var(--s-color-content-dark);
				}
			}
			&.-sub.-active {
				color: var(--s-color-content-highlight);
			}

			&-caption {
				color: var(--s-color-content-dark);
			}
		}
	}
}
